[2016-03-26 14:52] slashmili opened #1 "Todo List"
**alchemist_client**
- [x] [get tmp dir](https://docs.python.org/2/library/tempfile.html#tempfile.tempdir)
- [x] add unit test
- [x] set timeout for socket recv
- [x] find the base project dir(finding already running server/looking for mix.exs/...)
- [x] get full path of elixir project directory
- [x] rewrite in elixir (canceled)
- [x] write the autocomplete rules in the client

**vim plugin**
- [

[2016-03-29 11:53] slashmili opened #2 "Detect the module that we are in"

[2016-03-29 11:53] slashmili opened #3 "parse the current file and find the imported modules"

[2016-03-29 11:54] slashmili opened #4 "Detect the scoped of a module"
Detect the modules that we are in and the alias and imported modules inside the module

[2016-03-29 11:55] slashmili opened #5 "autocomplete current module func"
be able to autocomplete current module functions

[2016-03-29 11:55] slashmili opened #6 "find the base project dir"
find already running server/looking for mix.exs/...

[2016-03-29 11:57] slashmili opened #7 "full path"
get full path of elixir project directory

[2016-03-29 11:57] slashmili opened #8 "Autocomplete rules"
Rewrite the autocomplete rules in the client

[2016-03-29 11:58] slashmili opened #9 "socket timeout"
set timeout for socket recv

[2016-03-29 11:59] slashmili opened #10 "Rewrite it in elixir"
Rewrite? First need to check the performance of the client in elixir

[2016-03-29 11:59] slashmili opened #11 "Jump to definition"
implement `Ctrl-]` to jump to definition

[2016-03-29 12:00] slashmili opened #12 "Mix support"
Support mix commands

[2016-03-29 12:01] slashmili opened #13 "Phoenix support"
I'm not sure about the commands we need to support but [vim-rails](https://github.com/tpope/vim-rails) looks good

[2016-03-30 14:56] #2 closed

[2016-03-30 14:56] #4 closed

[2016-03-30 14:56] #3 closed

[2016-03-30 14:58] #5 closed

[2016-03-30 15:25] slashmili commented on #7
If the directory is passed as project directory is relative, find out the full path of the directory use full path

[2016-03-30 16:25] slashmili commented on #8
Handling different case for autocomplete turns out to be hard to handle in [vimscript](https://github.com/slashmili/alchemist.vim/blob/master/autoload/elixircomplete.vim) I'd like to move the logics to alchemist_client so we can write proper testing for it.

[2016-03-31 10:36] slashmili opened #14 "Added omni search results to popupmenu-completion"
Find a way to add `Omni completion` result to `popupmenu-completion`

Or at least make it optional

[2016-03-31 10:39] slashmili opened #15 "Support alias for erlang module"
[code]

Is a valid alias pattern

[2016-03-31 14:56] slashmili commented on #10
Since we have some neovim users here, I decided to keep client in python

also elixir script runs significantly slower than a python script

[code]

[2016-03-31 14:56] #10 closed

[2016-04-01 10:46] slashmili opened #19 "ExDoc on imported function"
Like this:
[code]

[2016-04-01 12:47] slashmili opened #20 "Credo support"
[code]

We can show the result in `Quickfix` window

[2016-04-02 04:25] #7 closed

[2016-04-02 17:02] #6 closed

[2016-04-05 06:11] #8 closed

[2016-04-05 10:48] slashmili commented on #19
It already works!

[2016-04-05 10:48] #19 closed

[2016-04-05 12:05] #9 closed

[2016-04-06 02:59] slashmili opened #23 "Auto complete issue"
These case don't work as I expect:

1.
[code]
Returns only `SystemLimitError.`

2.
[code]

Returns `get_env/0` and `get_pid/0`. And doesn't show `get_env/1`

[2016-04-07 02:33] #23 closed

[2016-04-07 12:40] slashmili commented on #12
it's done in #24 !

[2016-04-07 12:40] #12 closed

[2016-04-07 16:09] slashmili commented on #11
It would be go to support two more additional features:
-  `Ctrl-T` to jump between tags
- `g:alchemist_elixir_src` variable so we can jump to elixir codes source

[2016-04-09 00:10] slashmili opened #27 "iex integration"
Support :IEx command

If it’s running in neovim, it should run :terminal iex -S mix
if it’s running in vim, should check for ConqueTerm plugin if exists, run :ConqueTerm iex -S mix or show a message that you need that plugin

[2016-04-09 18:22] c-brenn commented on #27
Awesome idea! I might give this a shot.

[2016-04-09 23:19] slashmili opened #29 "Check Alchemist required plugin"
alchemist#check() function(not sure about the name)

It should check for various settings and report the result and give suggestion
- PING alchemist server
- Check for AnsiEsc/markdown plugin
- Check for IEx integration and required plugin
- Check for Credo
- ...

[2016-04-11 17:00] #11 closed

[2016-04-11 17:11] #15 closed

[2016-04-12 11:57] slashmili commented on #27
Merged to master

[2016-04-12 11:57] #27 closed

[2016-04-12 21:54] aerosol commented on #13
FWIW, looking at `vim-rails` I don't think there's anything Phoenix specific to support.
Alternating between files can be done with `vim-projectionist`. Hope that helps.

[2016-04-12 22:06] aerosol commented on #20
That could be done with [Neomake](https://github.com/benekastah/neomake). Does the whole functionality have to be part of `alchemist.vim`?

[2016-04-13 01:52] slashmili commented on #20
That's the idea, however not everybody is using NeoVim. The idea is to use Neomake if it's available otherwise handle it in old fashion look at PR  #31

[2016-04-13 02:48] slashmili commented on #13
Also `vim-rails` is not my favourite. I need to look at `alchemist.el` and see what they have done there.

Maybe we can drop this feature.

[2016-04-13 08:04] aerosol commented on #20
@slashmili neomake supports vim

[2016-04-13 08:52] aerosol commented on #13
+1 for dropping it. I really like this plugin and my concern is it'll get too bloated for "the vim way".

[2016-04-13 08:54] slashmili commented on #13
OK

[2016-04-13 08:54] #13 closed

[2016-04-13 09:02] slashmili commented on #20
@c-brenn what do you think?

I know that you faced some problem with `Neomake`, probably you can create a PR for them and fix it there and we shouldn't need this feature

[2016-04-13 09:48] c-brenn commented on #20
Yeah I think opening  PR for Neomake (and maybe Syntastic - as I think it is the most popular for Vim users) is a better approach than adding the functionality here

[2016-04-13 10:13] slashmili commented on #20
Ok, thanks

[2016-04-13 10:13] #20 closed

[2016-04-13 13:08] aerosol commented on #20
Great job guys :) :dancers:

[2016-04-14 08:39] larrylv opened #33 "Incompatible with YouCompleteMe ?"
Not sure if this happened to other folks using both `YouCompleteMe.vim` and `alchemist.vim`, but YCM complained this to me when pressing `List.`:

![screen shot 2016-04-14 at 4 37 20 pm](https://cloud.githubusercontent.com/assets/531650/14522032/380a06b4-025f-11e6-8aa3-14b527502c84.png)

Plugin list:

[code]

By the way, thanks for this plugin, it's super useful for Elixir development!

[2016-04-14 08:42] larrylv commented on #33
My vim version:

[code]

[2016-04-14 11:36] slashmili commented on #33
Hi,

I'm trying to setup a vim environment with all of your plugins. I'll let you know if I find anything

[2016-04-14 11:53] slashmili commented on #33
Can you try this in your box:

[code]

Make sure to replace <your_elixir_project_dir> with your project directory path and give me the result

[2016-04-14 11:55] larrylv commented on #33
@slashmili

[code]

[2016-04-14 11:56] larrylv commented on #33
Here is my full vimrc incase it will help: https://github.com/larrylv/dotfiles/blob/3ede8ac60a2707efb9a6c083ddcad8cffbfa3dd0/vimrc

[2016-04-14 14:23] slashmili commented on #33
So far the problem that I found is argument to [s:build_completions](https://github.com/slashmili/alchemist.vim/blob/master/autoload/elixircomplete.vim#L59) is empty string.

I'm looking into that to find the reason

[2016-04-14 18:23] larrylv commented on #33
Thanks for the update.

[2016-04-14 18:48] mad01 opened #34 "NameError: name 'raw_input' is not defined"
OS X, Python 2.7.11
got this when using K to get ExDoc on function

[code]

[2016-04-15 00:13] slashmili commented on #34
Looks like in your environment `/usr/bin/env python` is pointed to [python 3](http://stackoverflow.com/a/21122817/683247)

I'll try to make it python 3 compatible

[2016-04-15 00:44] slashmili commented on #34
Please update with the latest changes :tada:

[2016-04-15 00:44] #34 closed

[2016-04-15 20:49] mad01 commented on #34
Cool updated works grate \o/

[2016-04-16 04:29] #14 closed

[2016-04-17 16:02] slashmili opened #37 "Wrong autocomplete when there is only one match"
`IO.ins^X^O` recommends:

`IO.inspect m`
`inspect/2   f`

[2016-04-17 17:24] larrylv commented on #33
Just an FYI: after typing `List.`, I pressed `<C-x><C-o>` and the completion list popped up.

[2016-04-18 04:11] slashmili commented on #33
I tested `alchemist.vim` and `YouCompleteMe` with minimum vim settings works fine :

https://asciinema.org/a/e248rtwzpqihkx7q35bv1oopj

I'm not sure what goes wrong when I run vim with your `.vimrc`.

I'll update you if I find the problem

[2016-04-18 06:32] larrylv commented on #33
@slashmili I tried this vimrc and the problem still existed:

[code]

I have to manually type `C-x C-o` to trigger the completion pop menu.

[2016-04-18 11:06] slashmili commented on #33
Your config works for me if I enable filetype plugin

[code]

Can you try it and see if it works for you?

[2016-04-18 13:24] larrylv commented on #33
@slashmili `:filetype` shows this:

[code]

I think it's already enabled.

Is vim version related? Here is the full output of `vim --version`:

[code]

[2016-04-18 15:35] slashmili commented on #33
I tried in Debian:

[code]

Now in Mac with that simplified vim setting doesn't work :(

There is no error though, it's just doesn't open autocomplete menu

[2016-04-18 16:26] larrylv commented on #33
@slashmili Actually, if you `set :noshowmode`, it will display the error. The error doesn't show because of the showmode is in the status line.

[2016-04-18 17:05] larrylv commented on #33
I tried in Ubuntu, not working for me 😢  :

[code]

The error show like this: `Pattern not found`.

And in Mac with simplified vim, if you `set :noshowmode`, I think the error will show up.

[2016-04-19 03:10] Cifer-Y opened #38 "Can I use alchemist with neocomplete to autocomplete?"
Hi, I'm not very good at vim, I need help or guide.
I want to complete code without typing <C-X><C-O>,
and I'm using neocomplete for autocomplete.
So may I request your help for guiding me how to do that?

[2016-04-19 10:59] slashmili commented on #38
Unfortunately I'm not familiar with  `neocomplete` and couldn't even make it work for normal autocomplete based on their github page.

I'd suggest that you ask in stackoverflow about setting up `neocomplete`.

If you use _alchemist.vim_, you can always use `<C-x><C-o>` to open the autocomplete menu.

[2016-04-19 10:59] #38 closed

[2016-04-20 02:11] slashmili commented on #33
Just noticed forcing `YouCompleteMe` autocompletion with `<C-Space>` works!

Look at https://github.com/Valloric/YouCompleteMe/issues/560 and https://github.com/Valloric/YouCompleteMe/issues/438 for more explanation

[2016-04-20 06:48] larrylv commented on #33
@slashmili I read the issues you provided and dig into YCM about this. Actually, `<C-Space>` is required if you didn't provide any semantic triggers for the filetype (taking the issues as an example, clojure). But for elixir, it has semantic triggers by default, which is '.'.  https://github.com/Valloric/YouCompleteMe#the-gycm_semantic_triggers-option

I spent some time on debugging this issue, bu

[2016-04-20 06:56] larrylv commented on #33
The reason `<C-Space>` works is this https://github.com/Valloric/YouCompleteMe/blob/7f419101feb01f32bc1595798291e9cd5143948b/autoload/youcompleteme.vim#L225-L236 YCM maps `<C-Space>` to `<C-X><C-O><C-P>` to trigger omni completion

[2016-04-20 09:23] larrylv commented on #33
Finally found the cause why the `start_column` value is wrong.

ycmd will use this [REGEX](https://github.com/Valloric/ycmd/blob/bc323738c6c07efb707b5d7d06488d270d3140f8/ycmd/identifier_utils.py#L53) `re.compile( r"[_a-zA-Z]\w*", re.UNICODE )` to match an identifier, and traversing the index to find out the start column of the identifier.

But for my case: `List.`,  since there is a trailing `.`,

[2016-04-20 09:23] #33 closed

[2016-04-21 05:18] larrylv commented on #33
Created a vim plugin to deal with this: https://github.com/larrylv/ycm-elixir In case of anyone else coming into this issue.

[2016-04-21 05:19] slashmili commented on #33
Thank! I'll take look at your suggestion this weekend

[2016-04-27 14:37] slashmili commented on #37
Fixed!

[2016-04-27 14:37] #37 closed

[2016-05-26 19:57] killtheliterate opened #42 "Running `Mix test` does not run from project root"
Steps to reproduce:
* Generate a project with mix
* Open a test file in `test`
* Run `:Mix test`

Expected outcome is the test should run.

---

I may not be using alchemist.vim right 😄, opening this issue to clarify or see if it can be fixed.

[2016-05-27 07:23] aerosol commented on #42
If you open a test file with `vim test/foo_test.exs` that behaviour is expected. You can use for example [vim-rooter](https://github.com/airblade/vim-rooter) if you want to alter the default vim behaviour regarding cwd handling. My 2 cents is this should not be `alchemist.vim`'s concern.

[2016-05-27 09:08] slashmili commented on #42
@killtheliterate it works for me, I'm not sure why it doesn't work in your box, can you do something like this with your project and past the response here:

[code]

One extra note, `Mix` command only defined if you don't have any other `Mix` plugin

[2016-06-01 20:04] killtheliterate commented on #42
@slashmili I think this may be a problem with `netrw` or something. If I have a file open that lives in the project root, like `mix.exs`, then `:Mix test` runs, no problem. If I then open a file that lives in `lib`, thats when alchemist mentions that it cannot find a mix file.

If I have `mix.exs` open, and then use either `netrw` or `:e lib/foo.ex` to open another file, `:Mix test` breaks in that

[2016-06-02 02:17] slashmili commented on #42
Could you record the cases that you mention with asciinema.org

[2016-06-02 03:45] killtheliterate commented on #42
@slashmili
[![asciicast](https://asciinema.org/a/7wrt1025jijghxomj8ywfw28g.png)](https://asciinema.org/a/7wrt1025jijghxomj8ywfw28g)

[2016-06-03 02:19] slashmili commented on #42
I see.

Looks like there is something wrong with your vim settings, I did the same thing here : https://asciinema.org/a/40ob1mhx8dcgwb404xf6k5xkj

[2016-06-03 03:53] killtheliterate commented on #42
I'll try fiddling around to see if I can get it working as expected. For reference, here is my [.vimrc](https://raw.githubusercontent.com/killtheliterate/dotnvim/master/init.vim)

[2016-06-04 16:20] killtheliterate commented on #42
Heh, I had `set autochdir` for... some reason. Removing that makes `:Mix test` behave as expected.

[2016-06-04 16:20] #42 closed

[2016-06-28 16:44] uri opened #43 "Add note about vim-elixir"
https://github.com/elixir-lang/vim-elixir

Should these plugins be used exclusively or mutually?

[2016-06-29 01:53] slashmili commented on #43
You still need `vim-elixir` to enable syntax highlighting, indentation and etc.

I've updated the wiki page.

[2016-06-29 01:53] #43 closed

[2016-07-02 02:06] nayzak opened #44 "Autocomplete issue in Mix projects."
I don't know if there a bug in alchemist.vim plugin or this is an expected behavior of vim, however I found this issue using this plugin. Shortly, when I launch vim and execute :cd into my project, then autocomplete for Elexir stdlib works fine, but it doesn't work for my project modules and it dependencies. When I launch vim from project directory then everything works fine.

[2016-07-02 02:46] nayzak commented on #44
I found the root of my problem in `alchemist#alchemist_client()` function. It uses global variable `g:alchemist#root` which sets ones on plugin launch with result of `getcwd()` call. When I change `CWD` by executing `:cd` `g:alchemist#root` does not change.

[2016-07-05 08:59] slashmili commented on #44
Hi, sorry for late reply. I was traveling past few days.

To be honest I'm not sure how can I help. There was a reason that I used `getcwd` once and keep it for the rest of session.

Do you have any suggestion?

[2016-07-05 09:19] nayzak commented on #44
I can understand why you did so. And if nobody complained on this stuff, than it's ok.
One way is to make option that will tell plugin that `cwd` is always pointing to `mix` project root. However it would be silly. Another option is to check existence of `mix.exs` in `cwd` each time `alchemist#alchemist_client()` is called. And if it's not there, than try to find it in root directories. Again it's

[2016-07-16 13:59] Cifer-Y opened #45 "A little slow for auto complete module methods"
I used deoplete for code complete.

When I typed `Enum.`, then the result pop up after 2 or 3 seconds.

Is that can be configed ?

Or should I config deoplete things?

[2016-07-18 11:12] slashmili commented on #45
I'm sure @lucidstack can help here more than me :)

[2016-07-18 12:24] slashmili opened #46 "if an alias is mention in multi lines alchemist doesn't recognize the full name of module"
if alias is written like this:

[code]

Autocomplete/jump do definition/document lookup doesn't work for the aliased modules.

[2016-07-19 20:02] Cifer-Y commented on #45
@slashmili everything is awesome today, so I will close this issue, because I think this question is not helpful for both you and me 😂

[2016-07-19 20:02] #45 closed

[2016-07-29 08:56] slashmili opened #48 "Don't run alchemist server if it's already running on parent dir"
in Umbrella projects If the alchemist server is running on the main directory don't re run it for sub apps.

[2016-07-30 09:09] slashmili opened #49 "opens document for erlang modules"
load documents for erlang modules with `erl -man <module>`

[2016-08-01 14:27] slashmili opened #50 "autocomplete module/func in ExDef"
Autocomplete is not enabled in ExDef. ex:
[code]
should offer `List`

[2016-08-03 16:07] slashmili opened #51 "implement xref"
The idea is to use xref to find the places that a given module/function is used and helps users to refactor a code!

alchemist-server doesn't support xref yet, need to implement the base there first.

it should work like this:
[code]

[2016-08-21 10:52] slashmili opened #52 "wrong autocomplete when there is only one function in module"
If a module has only one function  :
[code]

By entering `TryOut.M` and pressing `<c-x><c-o>` it autocomplete  to `TryOut.run_me`

[2016-08-24 08:25] slashmili opened #53 "support for umbrella project"
When a vim session is opened under an app directory, alchemist-server should run the server for whole project.

a possible solution is to always look for two directory up and check if mix.exs exists.

[2016-08-24 11:48] troq opened #54 "ExDef tag not found"
I'm trying to use the jump to tag definition in alchemist, but when I run `:ExDef` I get a tag not found error on every tag that I try. Here is my alchemist config and a gif of the error:

[code]

![](https://media.giphy.com/media/Bs6bGBBjgHGOQ/giphy.gif)

[2016-08-24 12:09] slashmili commented on #54
Hmm It might be because the `Hello.UserSocket` is not compiled (https://github.com/slashmili/alchemist.vim/wiki#important-notes)

Can you try to run `mix compile` and try the autocomplete again?

That's known issue(not an issue really) because auto complete uses alchemist-server and if there is no beam file for `Hello.UserSocket`, it can't find source file for module `Hello.UserSocket`

[2016-08-24 14:45] troq commented on #54
It still doesn't work after mix compile. I was running it with mix
phoenix.server before so I don't think that'd be the issue. Is there a
debug command I can run to give more info?

On Wednesday, August 24, 2016, Milad notifications@github.com wrote:

[2016-08-25 08:56] slashmili commented on #54
you can enable `debug` variable in `~/.vim/bundle/alchemist.vim/alchemist_client`, the logs go to syslog. try to trigger jump to definition and see what command is executed in syslog, for ex:

[code]

then you can run alchemist client directly and execute the command directly:

[code]

If it didn't return the file name, check `alchemist-server` directly,

[code]

After running alchemist server, it

[2016-08-25 15:57] slashmili commented on #46
It would be also nice if we can support autocompleting this:

[code]

The result should be :

[code]

[2016-08-26 12:40] troq commented on #54
Running the command in alchemist client didn't work but alchemist-server worked. Here's what I ran (both commands were copied directly from syslog):

![image](https://cloud.githubusercontent.com/assets/2066888/18005565/aee0fd84-6b68-11e6-887e-0c7cf3aa131e.png)

[2016-08-26 12:58] slashmili commented on #54
That is indeed strange.

Both of them works for me:

[code]

Is it possible for you to do more debugging in `alchemist.vim/alchemist.py` at `_send_deflx` function? At line `173`, it gets the result back from alchemist-server and I want to see if it returns it correctly. looks like at `177` the client doesn't get back any file name as result and return(which apparently it shouldn't)

[2016-08-26 13:09] slashmili commented on #52
another case:

[code]

[2016-09-07 05:43] hykw commented on #54
So am I. I also cannot jumping with `E426: tag not found: ***MODULENAME***` error.

[2016-09-07 18:31] slashmili commented on #54
@hykw can you also try the same steps as @troq? Also please mention elixir version that you are running on your machine

[2016-09-08 06:35] hykw commented on #54
I followed the steps, and found out that at least `aliases` doesn't work correctly.

Notice: I replaced the module name in the following snippets with `Sample` and `TestModule`,  so it differs with the actual module name I pushed thru STDIN.

[code]

It works to be cut in aliases, but it cannot find the file.

[code]

Also I found that it correctly finds and jumps to the definitions, when called i

[2016-09-09 05:49] emilsoman commented on #45
@slashmili Thanks for this great plugin! I noticed that when I add alchemist.vim to my plugins, deoplete takes a few seconds (2-3 seconds) for the autocomplete popup to be displayed in a fairly big phoenix app. Sometimes I'm only interested in autocompleting words from my current buffer and not from alchemist-server, but because of alchemist being in the loop, even words from the buffer source tak

[2016-09-09 09:57] slashmili commented on #45
Well not really, as you might know in order to have inside about the code there is an `alchemist-server` running in the backend and there is no way to limit it only to the current file.

I'm just wondering what part of it slow, can you follow the debugging steps from #54 and check how long does it take to get answer from each command(one from alchemist_client and another from alchemist-server dire

[2016-09-09 09:59] slashmili commented on #54
Hey @hykw thanks for the details. I'll come back to you later :)

[2016-09-09 10:15] emilsoman commented on #45
@slashmili sure, I'll follow the steps and get more details on what's slow, thanks!

By the way, my question was not whether we can fetch suggestions for elixir file in current buffer, my question is something else - is it possible to make alchemist suggestions show up in the popup list in an asynchronous way so that as soon as I type something, the fastest sources are populated in the popup first

[2016-09-09 11:58] slashmili commented on #54
@hykw So there are few points:
1. Autocomplete works after your files are compiled and judging by the name of module, you'r trying to jump to a Test file which is `exs` which doesn't compile...
2. The sample that you provided has a wrong `alchemist-server` protocol which could be easily fixed by the plugin. I believe you had an unfinished line like:

[code]

and before completing the syntax you tr

[2016-09-09 19:11] slashmili commented on #45
@emilsoman hmm I'm not familiar with `deoplete` so It's hard to say it's possible or not. However we can have chat on elixir slack group and see if we can do anything about that.

[2016-09-09 20:51] emilsoman commented on #45
I enabled debug mode and give it a try. Nothing suspicious as far as I can tell. I can see two commands : `COMPX` and `COMP` for each of the characters I have typed. Anyway, to give you an idea how the slowness looks like :

This is without alchemist:
![without-alchemist](https://cloud.githubusercontent.com/assets/1707078/18402443/00a4cb9c-76fd-11e6-801e-6aa2753853e1.gif)

This is with alchemist:

[2016-09-11 05:45] hykw commented on #54
I've prepared a sample project, which reproduces the issue. Doesn't it occure in your environment?
    https://github.com/hykw/alchemist-vim_exdef_test

The issue occures in my environment with the following steps:

[code]

Confirmed the beam files are in _build/dev/lib/sample/ebin/ (I've checked in the files into GitHub, just in case)

[code]
- Line 2
  - cursor is on `e` as in `Sample.web`(pic1)

[2016-09-11 07:24] slashmili commented on #54
@hykw thanks a lot for spending time on debugging the issue.

This case is a bit different! which I didn't cover :(

The reason that you can use `PageController` in the code is because `scope` is a macro that knows `PageController` is under `Sample` module but it's a bit hard to know that in this plugin.

[2016-09-11 07:30] slashmili commented on #45
@emilsoman may I know if you experience change if the current file size(lines) is big or small?

[2016-09-11 08:56] emilsoman commented on #45
@slashmili I can confirm that autocompletion is fast when working with a new mix project. The slowness that I observed is in an app with 155 `.ex` files. The length of the current file is not big (only around 130 lines long), but I tried with a new file to confirm - results are the same (still slow).

Looking at https://github.com/zchee/deoplete-go , it looks like they're caching results to make a

[2016-09-11 09:12] hykw commented on #54
I've found the correct/wrong case. It fails if alias is set in a module. It doesn't matter called with  absoletely(Foo.Bar.foo()) or relatively(Bar.foo()).

Sample code:
https://github.com/hykw/alchemist-vim_exdef_test/blob/master/src/web/controllers/page_controller.ex

The difference beetween Sample.WrongCase and Sample.CorrectCase are `alias`. It doesn't work in Sample.WrongCase but it does work

[2016-09-11 10:13] slashmili commented on #54
Correct it doesn't work in `Sample.WrongCase` module because of multi line alias (issue #46) which I didn't manage to fix it yet :( try to put the alias in `Sample.WrongCase` in one line and it should work

[2016-09-11 23:38] hykw commented on #54
Oops, as you mentioned it worked with one line alias.

[code]

[2016-09-16 07:28] slashmili commented on #52
Fixed in #55

[2016-09-16 07:28] #52 closed

[2016-09-23 21:58] qwerescape opened #56 "Does this work in Windows?"
I've been trying to get it to work on Windows for a day now. Being new to Vim doesn't help, but I am noticing some problems such as "/" vs "\" and the alchemist_client file having a shebang which isn't recognized by Windows.

Is this meant to support Windows?

[2016-09-24 08:51] slashmili commented on #56
Hey @qwerescape It's good to know that someone trying to make it work in Windows!

I don't have Windows so I can't test it.

In case you are interested to fix the problem there few components:
- Alchemist-server which runs on Erlang VM, this should work on windows! to try that:

[code]
- Alchemist client:

[code]

For the path issue in python you can use https://docs.python.org/2/library/os.path.h

[2016-09-25 22:03] qwerescape commented on #56
:( sorry, I made a hackintosh out of my pc already...

[2016-09-26 01:03] #56 closed

[2016-10-01 19:34] troq commented on #54
@slashmili sorry for being MIA (busy month!). For some reason, ExDef is working as expected now. I'm guessing the bug was caused by an issue with my system state rather than alchemist itself. I'll close the issue for now and reopen if it reoccurs in the future.

[2016-10-01 19:34] #54 closed

[2016-10-01 19:35] slashmili commented on #54
Great 👍

Sorry I couldn't help much

[2016-10-06 08:28] slashmili commented on #51
[code]

[code]

Look at [xref implementation in mix](https://github.com/elixir-lang/elixir/blob/master/lib/mix/lib/mix/tasks/xref.ex)

[2016-10-13 16:53] mikeLspohn opened #57 "Homebrew elixir path for Jump to definition"
Is there anyway to set the path for the jump to definition as stated in the wiki for a Homebrew installed Elixir? I might just be missing something with Homebrew, but it seems that it just keeps the binaries not the source, so I can't figure out how to set the path for this.

Is there a simple solution for this, or is this something that's not currently implemented?

[2016-10-13 22:34] slashmili commented on #57
Hey @mikeLspohn ,

When you install Elixir with brew, it doesn't compile it in your machine, it only downloads the Elixir beam files:

[code]

So what I do is download the Elixir source code separately and configure the plugin to use that

[2016-10-19 19:39] RedBeard0531 opened #58 "Add <buffer> to all mappings"
Currently mappings such as \<S-k> and \<C-]> are done without the \<buffer> modifier so they modify behavior even for non-elixir buffers. One place this is noticable is in vim's :help where \<C-]> on a link no longer works.

[2016-10-20 07:38] slashmili commented on #58
Oops! I'll fix it ASAP.

Thanks for reporting it.

[2016-10-20 17:07] #58 closed

[2016-10-22 16:01] #50 closed

[2016-10-23 19:10] codyjroberts commented on #57
What about the erlang source?  The emacs package seems to have two variables, whereas this only has one.  The elixir source doesn't have an 'otp' folder.

[2016-10-24 10:40] slashmili commented on #57
@codyjroberts take a look at https://github.com/slashmili/alchemist.vim/wiki#configs

The `otp` directory is erlang's source which should be a clone of this repo https://github.com/erlang/otp

Just because I was lazy I decided to use one variable :)

Do you have problem with keeping both elixir and otp source like the way that manual is explained?

[2016-10-24 21:38] codyjroberts commented on #57
No I can put it into the same dir =).  Thanks!

[2016-10-26 09:40] slashmili commented on #57
I close this issue for now, fell free to open it if you think it needs more discussion

[2016-10-26 09:40] #57 closed

[2016-10-31 08:25] #48 closed

[2016-10-31 08:25] #53 closed

[2016-11-02 02:04] akofke opened #64 "Python error when using plugin functions"
When I try to use any of the functionality of the plugin, such as get_doc or jump to definition, I get this python traceback:

[code]

I am opening neovim from the root of a Phoenix project.

This occurs:
- on both Arch Linux and Mac
- even with a base neovim and system installation (on a VM) using only the vim-elixir and alchemist.vim plugins.
- with both python 2 and 3.

[2016-11-02 09:47] slashmili commented on #64
Yup looks like the the  #48 broke the maser.

I fixed it temporary for now. Please fetch the new change

Keep issue open for now until the proper fix is applied

[2016-11-02 15:55] akofke commented on #64
Yeah that fixed it for me, thanks.

[2016-11-05 07:18] carloslima commented on #64
Does applying https://github.com/slashmili/alchemist.vim/pull/63 fix it for you?

[2016-11-05 17:35] #64 closed

[2016-11-06 17:18] #49 closed

[2016-11-06 17:21] #44 closed

[2016-11-17 18:46] jaysoifer opened #69 "Navigate to the definition of a macro imported function"
Hi,

Alchemist's "go to definition" for my project's functions/modules work just fine.

But looking at the following piece of code:

[code]

If I press ctrl+] on top of either **"cast"**, **"validate_required"** or **"struct"** I get a `E426: Tag not found`.

Any idea how to fix this?

    MacOS 10.12.1
    ViM 8.0.52
    Elixir 1.3.4

Which Elixir?
`/usr/local/bin/elixir`

Installed using homebre

[2016-11-17 19:16] jaysoifer commented on #69
With the help from a user in the Elixir Forum I was able to find out that this is probably related to me moving my project around within my computer's directory structure.

Is there any way I can update those references to my current folder? Where does alchemist gets them?

[2016-11-17 22:33] slashmili commented on #69
Hi,

As annoying as it is, autocomplete doesn't work for `validate_required` and other functions that are added to a module by `use` macro :(

`struct` is a function argument so it won't work on that

/cc @carloslima this also interesting thing to fix :D [atom-elixir ](https://github.com/msaraiva/atom-elixir) has some patch on `alchemist-server` that make it possible

[2016-11-18 15:04] jonathan-soifer commented on #69
Oops! Sorry about the "struct". I was just trying to go into whichever definitions I could.

After a few hours trying to debug this, it gets fuzzy 😞

I actually fixed my project by running `mix deps.get` and `npm install` again.

Should I close this? Or are you going further into the _use_ macro subject?

[2016-11-18 15:07] slashmili commented on #69
Let's see what can we do about macro imported functions. It would be great to jump to those.

[2016-12-21 07:03] dcy opened #71 "omni completion (^o^n^p) pattern not found"
Hi!
I use nvim with alchemist.vim. When type ```<C-x><C-o>```, it will be ```omni completion (^o^n^p) pattern not found```

[2016-12-21 07:23] dcy commented on #71
[code]
Erlang works fine. Elixir can not use omnicomplete

[2016-12-22 09:11] slashmili commented on #71
Hi,

Is possible to capture what you are doing with asciinema.org and put it here?

[2016-12-24 22:00] gasparch opened #72 "make :Mix task detect project root?"
it is (extremely) inconvenient that :Mix something cannot  itself find project root and execute it from top directory.

Question - I see functionality is present in python. Should I

1) write it using python integration (this requires vim compiled with python)
2) rewrite with vimscript ?
3) create separate program like 'alchemist_client' which will expose that call to vimscript?

[2016-12-25 15:42] dcy commented on #71
Sorry for late.
https://asciinema.org/a/7it9kl6ual6fgutp84dk4hy3q

[2016-12-26 21:15] kedare opened #73 "Dumb completion, did I forget something ?"
Hello,

I see that my completion with Alchemist and YMC is quite dumb, basically it look like I can see all the possible function for all the modules everywhere, here is a small screenshot that would explain better:

http://s3.kedare.net/issues/Screen+Shot+2016-12-26+at+22.11.43.png

What could cause this ? I suppose this is not expected ?

Thanks.

[2016-12-27 12:33] slashmili commented on #72
@gasparch `:Mix` is using `mix` command [directly](https://github.com/slashmili/alchemist.vim/blob/master/after/plugin/alchemist.vim#L425)

So you need to add the logic in vimscript :)

The one that you saw and is in python is provided to `alchemist-server` which is why it was convenient to put it in python client

[2016-12-27 12:36] slashmili commented on #71
I see, it should be a mix project directory.

The autocomplete works by loading compiled file(beams) and find the related functions.

[2016-12-27 12:47] slashmili commented on #73
Hmm, I remember it never worked very well with YMC :(

I just checked the screencast that I recorded long time ago and it is like your screenshot.

[2016-12-27 15:04] gasparch commented on #72
I know that it invokes mix directly, just did not wanted to have logic duplicated in two places.

Okay, will submit PR :)

[2016-12-27 19:30] sysblade commented on #73
What is the recommended way to install it to have an equivalent behavior ? Typically having completion working automatically with OmniCompletion ? (Because for now I can only make it work when using <C-x><C-o>, can it work with tab ?)

[2016-12-28 01:47] dcy commented on #71
@slashmili how can i fix this? it also can not work in my Phoenix app.

[2016-12-28 10:13] slashmili commented on #73
@kedare I've seen most of people use it with [deoplete.nvim](https://github.com/Shougo/deoplete.nvim)

[2016-12-30 23:18] slashmili commented on #71
Sorry for my late replies, It's during holidays :)

Could you give me more details? Step by step, from creating mix project until the vim test, or even better if you capture all of that with asciinema

[2017-01-06 08:20] dcy commented on #71
Thanks! It works.

[2017-01-06 08:20] #71 closed

[2017-01-09 23:09] Elinos commented on #33
Hi, I got the same error.
This is what I get when I run `cho 'COMPX { "List.", [ context: Elixir, imports: [], aliases: []] }' | ~/.vim/bundle/alchemist.vim/alchemist_client -d .`
[code]
I have no clue what to do about it :)

[2017-01-10 09:50] slashmili commented on #33
@Elinos the way that this plugin works is, it runs alchemist-server on localhost and a random port and logs out the port [into a file](https://github.com/slashmili/alchemist.vim/blob/master/alchemist.py#L100)

Next time if you run a command it uses the existing instance and get the data out.

Based on the log, I can say that the plugin found the file and opened it, tries to parse but it couldn't f

[2017-01-11 09:43] Elinos commented on #33
@slashmili So what I found out is this:
I've added this line to alchemist.py - `print(log_file)` and this is the result:
`<open file '/var/folders/v1/9cf15p1j5pb3lkw0zdq28swr0000gn/T/alchemist_server/zSUserszSktsarnakliyskizSProgrammingzSPlaygroundzSExercismzSelixirzSbob', mode 'w' at 0x10227bc00>`

Then I printed what's inside this file(zSUserszSktsarnakliyskizSProgrammingzSPlaygroundzSExercismzS

[2017-01-11 10:32] slashmili commented on #33
Yes the warnings are because of Elixir 1.4.0 but the client is supposed to [read all lines and find the match](https://github.com/slashmili/alchemist.vim/blob/master/alchemist.py#L296)

I have the same data in that file but still the last line match and it returns the host and the port

Can you print out the `connection` value and see if it works?

I used your output and saved it under `/tmp/elino

[2017-01-11 11:07] Elinos commented on #33
Strange...now it works :D without any change...
Thanks :)

[2017-01-15 14:18] kiuKisas opened #76 "Issue with ExDoc and no completion in Deoplete"
Hi !
So, I suppose I did something wrong or missed something, but I just follow the doc to install everything, do a `PluginInstall`, `PluginUpdate`.. Then I wanted to try by editing an `.ex` file and I notice that nothing change in deoplete, so I try to use ExDoc by typing `K`, I'v got this message:

[code]

So.. a `alchemist` connection problem maybe ?

Also, from the wiki:
[code]
I tried again a

[2017-01-20 15:51] DylanGuedes commented on #76
Hi, exactly the same problem here. When I try to access a doc with `K` I get this weird error, that looks like the connection with alchemist_server isn't working:
[code]
The plugin is using my Python 2.7, but I also have a few other versions (like 3.0 and 3.5). Using Fedora 25.

[2017-01-23 10:24] slashmili commented on #76
Sorry for the late reply

can you troubleshoot the problem like [this issue](https://github.com/slashmili/alchemist.vim/issues/33#issuecomment-271437258)? It's not the exact issue but looks like that

[2017-01-23 12:26] DylanGuedes commented on #76
Hi. It creates the file, and the last line of the file says `ok|localhost:43381`.

Content:
[code]

[2017-01-24 10:04] slashmili commented on #76
@DylanGuedes I might find the issue :) try to fetch master branch again

[2017-01-24 10:04] #76 closed

[2017-01-24 10:46] kinooyume commented on #76
Perfect, thank's :banana:

[2017-01-24 11:14] DylanGuedes commented on #76
OMG IT WORKED!!! Ty so much

[2017-01-31 14:58] sumerman opened #79 "After sometime 6b763e9 alchemist began starting an app"
After updating alchemist to the current master I've noticed a weird behavior: my app listens on a network port and after I type something in .ex file in vim `mix test` in a terminal fails with `eaddrinuse`. `:Mix test` right in vim works fine, though. It seems like alchemist (or maybe vim itself) starts `mix` and leaves it dangling.

On 6b763e92db0cd2a3b9bbbc3ad860af99e35db1c1 everything works fin

[2017-01-31 15:02] #79 closed

[2017-01-31 15:13] sumerman commented on #79
I'm sorry, it had nothing to do with the alchemist.

[2017-02-03 10:38] hauleth opened #80 "Completion makes NeoVim to crash"
NeoVim issue: neovim/neovim#6023

[2017-02-03 14:55] justinmk commented on #80
This isn't an alchemist issue fwiw.

[2017-02-06 09:03] nhooyr opened #81 "ansi escape codes in docs"
When I run `:ExDoc Enum` I get

![screen shot 2017-02-06 at 4 01 15 am](https://cloud.githubusercontent.com/assets/10180857/22640538/113267be-ec21-11e6-899a-fb6ee5e53533.png)

Why are all those escape characters there? I don't have AnsiEsc installed but it's an optional plugin, I should be able to read the docs without it installed.

[2017-02-06 09:18] slashmili commented on #80
Ok, let me know if I can help in anyway

[2017-02-06 09:18] #80 closed

[2017-02-06 11:09] nhooyr commented on #81
And now it's working fine. No idea why

![screen shot 2017-02-06 at 6 09 11 am](https://cloud.githubusercontent.com/assets/10180857/22644982/d7bcb1b2-ec32-11e6-8b84-e1086925a969.png)

[2017-02-06 11:09] #81 closed

[2017-02-10 04:58] uri opened #82 "Allow to jump through navigation"
It would be great if, like in the vim help, you could jump through documentation. For example, if viewing the documentation for `Enum`

[code]

It would be great if can put your cursor on `map` and bring up the `Enum.map` documentation. Currently, using `K`, this does not work as vim attempts to find a `man` entry.

[2017-02-10 16:41] #72 closed

[2017-02-12 21:33] rawkode opened #84 "Remote Alchemist Server"
I run my applications inside Docker containers, which means that `deps` and `_build` aren't available to vim.

Is there a way to run this plugin, but ask it to speak to another alchemist server over a socket / port combination?

Thanks

[2017-02-13 09:20] slashmili commented on #84
@rawkode you do share a working directory with Docker. Aren't `deps` and `_build` directories automatically created in that shared directory?

[2017-02-13 09:24] rawkode commented on #84
@slashmili No, I use local volumes to keep `deps` and `_build` away from my working directory, which is fantastic; until I want code completion :confused:

Is adding the remote alchemist configuration not something you're likely to support?

[2017-02-13 10:15] slashmili commented on #84
@rawkode I couldn't find a proper solution. I can make some changes that it works for your but couldn't find a general solution.

The challenges:

- Every time you start a Docker, you get a new IP address which makes it hard to configure one IP/port in vim config
- People usually have multiple projects and not sure how can we have multiple ip/port config per mix project

[2017-02-13 10:40] rawkode commented on #84
So each of my Elixir projects runs their own alchemist, through `docker-compose`, with the following:

[code]

So if I can configure this plugin to connect to `localhost:50501`, then no matter what project I am editing, it should work. Obviously if I am working on multiple projects at the same time, then it's not going to work. Is this a common use-case though?

[2017-02-21 16:33] nhooyr commented on #73
It doesn't seem to complete many functions or modules at all for me. Only completes standard library functions or modules. Have I got my project setup wrong? I created it with `mix phoenix.new`.

[2017-02-21 23:21] ivan opened #85 "Bundled alchemist-server is vulnerable to remote code execution"
alchemist.vim includes an alchemist-server vulnerable to unauthenticated remote code execution (see https://github.com/tonini/alchemist-server/issues/14).  It's unfixed as of now, but I'm opening this tracking issue as a (hopefully useful) reminder to update alchemist-server once that bug is fixed.

[2017-02-22 10:16] nhooyr opened #86 "option for no period after module names"
I prefer no period is inserted after module names as I type it myself to cancel the completion. I don't use `<C-Y>`.

[2017-02-22 10:24] nhooyr opened #87 "different completion results between deoplete and omnifunc"
I'm in a phoenix project with the following controller:
[code]

Here is what I get with deoplete:
![screen shot 2017-02-22 at 5 21 51 am](https://cloud.githubusercontent.com/assets/10180857/23207348/ffdfbf52-f8be-11e6-9ecb-11cb4e931a6d.png)

It shows index, but that is the buffer completion, not alchemist.

Now for omnicomplete:
![screen shot 2017-02-22 at 5 21 42 am](https://cloud.githubuserconte

[2017-02-22 10:27] nhooyr opened #88 "weird module completion"
In a phoenix project with the following controller:
[code]

If I try and complete a module name, I get: https://asciinema.org/a/disrxp5hcg4hqnit8o4kjk6kc

Why do the completion options not have the full prefix? if I am completing `HelloPhoenix.Endpoint`, shouldn't the option in the completion menu also be `HelloPhoenix.Endpoint`? Not just `Endpoint`? Is there any way to fix this?

[2017-02-23 09:11] slashmili commented on #73
@nhooyr So far based on the experience the YMC and alchemist.vim don't play well with each others

[2017-02-23 09:18] slashmili commented on #88
@nhooyr I guess it's just mater of taste!

This is an example of Android Studio:

![screen shot 2017-02-23 at 10 14 45 2](https://cloud.githubusercontent.com/assets/585764/23252402/00223d4e-f9b1-11e6-92bc-12c80466a3ca.png)

And this is an example from XCode:

![screen shot 2017-02-23 at 10 17 49 2](https://cloud.githubusercontent.com/assets/585764/23252508/5d0f7940-f9b1-11e6-8954-c98aa2da6677.png)

[2017-02-23 09:19] slashmili commented on #86
@nhooyr +1  on that.

I also like to change it but didn't haven't had time to do that

[2017-02-23 09:22] slashmili commented on #87
I personally don't use deoplete so it's hard to give feedback(I don't have it installed)

@lucidstack can you take look at this one?

[2017-02-23 12:07] nhooyr commented on #73
Sorry, forgot to mention I'm using deoplete.

[2017-02-23 12:29] nhooyr commented on #88
I'm fine with the way xcode or android studio do it. It's just that alchemist.vim is showing me `HelloPhoenix.` in the first completion option, but not in any of the rest, even though they include completing it. They should be `HelloPhoenix.ModuleName`. not just `ModuleName` as I don't even have `HelloPhoenix` yet.

[2017-02-23 13:01] slashmili commented on #85
@ivan thanks for reporting it.

I removed EVAL command from this repo since we don't use it directly here!

[2017-02-23 14:02] ivan commented on #85
See https://github.com/tonini/alchemist-server/issues/14#issuecomment-281998863

[2017-02-24 09:10] slashmili commented on #88
Sorry @nhooyr I'm lost a bit.

Nevertheless, we are using `IEx` autocomplete module, try to check your test case under under iex: `iex -S mix` and try to autocomplete by pressing `tab` and let me know if it behaves differently there.
Would be great to capture your `iex` test case with asciinema as well.

[2017-02-24 10:31] slashmili commented on #84
@rawkode check out the new changes in #78

I hope it helps you to setup your project in docket

[2017-02-24 10:31] #84 closed

[2017-02-24 10:34] slashmili commented on #82
@uri try the merged changes, should fix your problem

[2017-02-24 10:34] #82 closed

[2017-02-24 11:08] nhooyr commented on #88
Right now I'm getting

[code]

I want

[code]

[2017-02-24 11:09] nhooyr commented on #87
Can't complete module names either with deoplete anymore. weird.

Omnifunc works fine though.

[2017-02-25 03:18] nhooyr commented on #87
For now, if anyone needs completion in deoplete, https://github.com/awetzel/elixir.nvim seems to work fine for me.

[2017-02-25 03:51] nhooyr commented on #87
Huh, alchemist is working fine for me now. Weird, will report back if I can reproduce.

[2017-02-25 03:51] #87 closed

[2017-02-25 15:31] ivan commented on #85
I think this should be reopened because "anyone" can still execute code on the machines of alchemist.vim users.

[2017-03-02 02:51] uri commented on #82
Works great, thanks!

[2017-03-07 06:39] dylan-chong opened #89 "`<C-W><C-]>` causes error 'E426: tag not found: Application'"
I assume this is because Alchemist overrides the mapping for `<C-]>` to work, but not `<C-W><C-]>`.

As a side note, I can't get around this problem by using `nnoremap <C-W><C-]> :tab<SPACE>split<CR><C-]>` because that last `<C-]>` doesn't seem to be overriden by Alchemist.

[2017-03-07 08:28] slashmili commented on #89
@dylan-chong you can use it like this

[code]

Since we are going to use `<C-W>` prefix, what do you think if we split the window and open the file in new window instead of new tab?

[2017-03-07 09:01] dylan-chong commented on #89
Oh whoops. I forgot that `<C-W>` was used for window, so I guess `<C-W><C-]>` should open a new window.

Anyway, your remap code still doesn't seem to override the behaviour unless I add `autocmd BufEnter *` at the start of the line. This still isn't a nice solution, since if there was no tag found under the cursor, then you are left with an extra window and an error message (or no error message i

[2017-03-09 20:33] uberbrodt commented on #73
I've got the same thing, using latests versions of Alchemist and YCM. One thing that is interesting, is that if you invoke YCM completion directly through <C-Space>, it shows intelligent completions based on the context.

[2017-03-10 08:13] slashmili commented on #73
@uberbrodt what do you mean by `invoke YCM completion directly`, do mean invoke YCM completion for alchemist?

[2017-03-10 15:04] uberbrodt commented on #73
@slashmili Sorry, should have been more clear. When I say "invoke YCM completion directly", I mean calling the `omnifunc`. Which, is set to  `elixircomplete#Complete` for me.

After spending a bit more time on it, and looking more closely at issue #33, It seems that it's related to the regex that this plugin fixes: https://github.com/larrylv/ycm-elixir. I would say it's not perfect; seems to get c

[2017-03-14 20:46] jc00ke opened #90 "ExDef attempts to look up docs on Jose's path"
See the asciicast below. I've got 31c13df installed with Neovim `0.2.0-DEV` via `Plug` and both Erlang 19.2 and Elixir 1.4.2 are installed via `asdf` plugins.

[![asciicast](https://asciinema.org/a/107192.png)](https://asciinema.org/a/107192)

@josevalim :wink:

[2017-03-14 20:53] josevalim commented on #90
If you are using precompiled Elixir, it is compiled on my machine or another machine, so that will happen. :)

[2017-03-14 21:05] jc00ke commented on #90
![bitmoji](https://render.bitstrips.com/v2/cpanel/10214012-118866928_7-s1-v1.png?transparent=1&palette=1&width=246)

I kid I kid.

So, no way around this besides compiling Elixir myself I assume?

[2017-03-15 06:05] slashmili commented on #90
@jc00ke There is a workaround, take a look at [Jump to definition](https://github.com/slashmili/alchemist.vim/wiki#jump-to-definition) configs

[2017-03-15 06:05] #90 closed

[2017-03-16 01:39] jc00ke commented on #90
@slashmili are you referring to setting `g:alchemist#elixir_erlang_src` or `<C-]>`?

[2017-03-16 08:32] slashmili commented on #90
@jc00ke I'm referring to `g:alchemist#elixir_erlang_src`

If [the source file path contain `/elixir/` or `/otp/`](https://github.com/slashmili/alchemist.vim/blob/master/alchemist.py#L200) it looks for the source file from configured path in `g:alchemist#elixir_erlang_src`

[2017-03-16 20:21] jc00ke commented on #90
Cool, thanks for clarifying.

`asdf` puts things in different directories, so I might need to do some symlinkin' to get this to work.

[code]

[2017-03-16 20:56] slashmili commented on #90
@jc00ke If I'm not wrong `asdf` download the binaries so there is no need to symlink anything.

You should get the source for each language separately and put it on the correct directory

[2017-03-17 20:55] jc00ke commented on #90
Great, I'm sorted. Thanks for the help!

[2017-03-19 15:10] linduxed opened #91 "Make it possible to remap normal-mode `K`"
Currently there's neither a way to remap the documentation lookup, nor is there a way to disable the addition of the mapping to normal-mode `K`.

I think having either of the two above would be beneficial for people using this plugin that have a non-standard set of mappings.

[2017-03-19 15:31] slashmili commented on #91
@linduxed would you mind to implement that? You can follow [g:alchemist_tag_disable](https://github.com/slashmili/alchemist.vim/blob/master/after/ftplugin/elixir.vim#L26) implementation

[2017-03-20 07:31] linduxed commented on #91
OK, I'll submit a PR this week and we can continue the discussion there!

[2017-03-20 15:23] konstantinzolotarev opened #93 "Autocomplete not working fully"
There are lot of issues with autocomplete module.
My issue is that omni autocomplete does not show all available methods

For example here is suggestions from vim:
<img width="526" alt="screen shot 2017-03-20 at 17 19 57" src="https://cloud.githubusercontent.com/assets/286431/24106853/ddaca804-0d91-11e7-9f18-9fab2a70a037.png">

And here is from atom:
<img width="724" alt="screen shot 2017-03-20 at

[2017-03-20 15:40] slashmili commented on #93
@konstantinzolotarev well [atom-elixir](https://github.com/msaraiva/atom-elixir) has customize version of `alchemist-server` which is able to expand macros and show you those.

Unfortunately it's not available yet in this plugin and [alchemist-server](https://github.com/tonini/alchemist-server).

There is an issue in `alchemist-server` https://github.com/tonini/alchemist-server/issues/6 and in `al

[2017-03-20 15:40] #93 closed

[2017-03-21 11:39] konstantinzolotarev commented on #93
@slashmili Awesome !
Thank you very much for reply and for your work on this plugin.

[2017-04-10 01:18] linduxed commented on #91
Phew, that took a while! A PR is up for this functionality.

Next time I shouldn't be promising a date as to when something will be ready! 😄

[2017-04-10 08:34] slashmili opened #97 "Use ElixirSense"
ElixirSense looks promising: https://github.com/msaraiva/elixir_sense

Let's try it!

[2017-04-18 08:39] #91 closed

[2017-05-13 00:53] charleshan commented on #73
I'm getting the same error as well.
`Omnifunc returned bad value to YCM! Omnifunc did not return a list or a dict with a "words"  list when expected.`

[2017-05-15 20:47] drichardson opened #98 "GoTo definition (Control+]) does not work in 2nd vim instance"
GoTo definition (Control+]) doesn't work in 2nd vim instance in same terminal (first instance suspended via Control+Z).

## Steps to Reproduce
1. Run: `vim test.exs` and then enter the following line: `IO.puts "hello"`
2. Save the file.
3. Put the cursor somewhere on `puts` and then press Control+] to go to the definition. At this point you should see the definition of `IO.puts`.
4. Press Control+

[2017-05-17 19:41] drichardson opened #99 ":Mix compile errors don't work with vim quickfix"
When `:Mix compile` produces errors, they don't showup in the quickfix window.

## Steps to Reproduce
1. `mix new quickfix`
2. edit `quickfix/lib/quickfix.ex` to have a syntax error
3. Open vim in the `quickfix` directory.
4: In vim, `:Mix compile`
5. Observe *Compliation error* report.
6. In vim, `:cope` to open quickfix window.

## Results
Empty window.

## Expected
List of compliation errors I

[2017-05-17 19:43] drichardson commented on #99
I'm not familiar with vim scripting, but if you can point me in the right direction, I can take a stab at addressing this problem myself.

[2017-05-19 15:05] ghost commented on #97
I would love to look at this, I don't know much vimL (seems to be mostly python in implementation though) but am willing to dig in. Can I get any pointers on where to dig in to start?

[2017-05-27 06:54] YongHaoWu opened #100 "GoTo definition (Control+]) does not work on projects but Erlang/Elixir source code"
Can not jump to my projects' def though I had done `mix compile`.
Thanks.

[2017-05-28 07:15] slashmili commented on #99
@drichardson that would be great!

Take a look at this resources:

* #68
* [Errorformats](http://vim.wikia.com/wiki/Errorformats)

[2017-05-28 07:36] slashmili commented on #100
@YongHaoWu try to follow the debugging steps in [Debugging](https://github.com/slashmili/alchemist.vim/wiki/%5BWIP%5D-Debugging) page and let me know the result

[2017-05-28 08:25] slashmili commented on #97
Hey @colbydehart,

The starting point would be to understand how does `elixir_sense` work and how much is different from `alchemist-server`

I haven't spent time on this issue as well

[2017-05-28 08:41] slashmili commented on #98
@drichardson thanks for your excellent bug report!

The Jump to Def works for 3 different type of files:

1. Project's files
2. Dependency files
3. Elixir-Erlang source codes

I believe we should go to that mode on case 1 because there is a chance of editing an opened file.

For the 2nd and 3rd case we can open files in read only mode.

What do you think?

[2017-05-29 09:13] atlas-comstock commented on #100
Hey, @slashmili . Thank you for your reply.
Both `DEFL { "CustomModule,foo", [ context: Elixir, imports: [], aliases: [] ] }` and `DEFLX { "CustomModule.foo", [ context: Elixir, imports: [Quickfix], aliases: []] }` not works.

Here is my commands:
[code]

[2017-05-29 09:26] drichardson commented on #98
Opening 2 and 3 in read only mode makes sense to me. What mode are you referring to for case 1, that mode I called the *unfamiliar insert/overwrite mode that you cannot exit with Esc*? What mode is that, by the way?

[2017-05-29 09:31] slashmili commented on #98
@drichardson I guess we can call it `file recovery` mode

check out `:help recover.txt`

So now the challenge is to find out if a file is part of project or part of library(deps or elixir).

Need to think about it 🤔

[2017-05-31 00:43] nhooyr commented on #45
@emilsoman deoplete-go doesn't cache all results. It only generates a cache for standard library completions.

[2017-05-31 16:17] connorlay commented on #100
@YongHaoWu When you execute those commands, are you in your `nurse/lib` directory where `custom_module.ex` is located?

[2017-06-01 01:44] atlas-comstock commented on #100
@connorlay I am in `nurse` directory. But I try `nurse/lib`, the same output as in `nurse`.
Thanks.

[2017-06-01 01:45] atlas-comstock commented on #100
@slashmili @connorlay I forgot to mentioned that it works in Elixir code. Means that I can jump to Elixir's code from my project's code, e.g, `Enum.reduce`

[2017-06-02 08:07] slashmili commented on #100
@YongHaoWu can you run the command on the main project directory?

in [vimscript](https://github.com/slashmili/alchemist.vim/blob/master/after/plugin/alchemist.vim#L481) we find the main directory but if you run it manually you should run it in the main directory.

[2017-06-05 08:55] atlas-comstock commented on #100
@slashmili Hi, sry for the late reply.
Yep, it works in main project directory.
See
[code]

It works in a small project now! Thanks.

But will it doesn't work on **umbrella projects**, e.g, I have a umbrella projects named `gangplank`(can not compile due to different dependencies), sub-project `nurse` compiled successfully.
[code]

[2017-06-05 08:56] atlas-comstock commented on #100
@slashmili Do u have any idea to fix this?
Or I have to compile whole projects?

[2017-06-07 17:06] slashmili commented on #100
@YongHaoWu the program is piggy backing the elixir compile directory structure and if it can't compile the whole project it won't work :(

[2017-06-08 02:06] atlas-comstock commented on #100
@slashmili Oh, that's a pity :(  Thanks for your work! It is wonderful.
PS: ctags don't work for me （https://github.com/mmorearty/elixir-ctags/issues/6）

[2017-06-08 09:44] slashmili commented on #100
@YongHaoWu ctags also works based on compiled file :(

[2017-06-08 09:48] atlas-comstock commented on #100
@slashmili Yeah, it's just another topic. Anyway, my issue is solved now(knowing that it need to be compiled all). Thanks.

[2017-06-08 09:48] #100 closed

[2017-06-25 23:33] exitface opened #101 "Completion not working with multiple import"
Given the follow module definition, when I type `period` where it says `<Type Period>`, no PUM opens
[code]

However if I change the imports to:

[code]
I get the full list of module completions as expected:

![elixir](https://user-images.githubusercontent.com/1232199/27520596-d61b25f6-59c3-11e7-891f-94987916e2dd.png)

I'm on:

[code]

[2017-06-26 08:04] slashmili commented on #101
@exitface I'll take a look.

Thanks for reporting it.

[2017-07-18 21:58] rlbaker opened #103 "Deoplete remote plugin truncates the last completion"
Currently, the deoplete remote plugin for alchemist.vim appears to truncate the last completion from the list. I've done my best to illustrate the issue I'm seeing below in images and alchemist-server communications. From looking at the code, it appears that the `-2` in the split should in fact be a `-1`. I've opened a [PR](https://github.com/slashmili/alchemist.vim/pull/102) with this (extremely

[2017-07-23 09:32] slashmili commented on #103
thanks @rlbaker 🎉

[2017-07-23 09:32] #103 closed

[2017-07-23 10:02] slashmili commented on #101
@exitface just noticed that we never implement multiple import! 😞

It would be something like PR #94

[2017-07-23 10:13] slashmili commented on #88
When you start typing, you have the base module in your editor and the rest will show up in the suggestion window
like this:
![screen shot 2017-07-23 at 12 05 37](https://user-images.githubusercontent.com/585764/28498502-48bf745e-6f9f-11e7-8844-0538230b39bc.png)

I guess it's better to keep it like that.

[2017-07-23 10:13] #88 closed

[2017-07-23 10:14] slashmili commented on #85
Fixed in 2.8.0. Please update your plugin

[2017-07-23 10:14] #85 closed

[2017-08-03 15:38] slashmili opened #104 "Can not find the module location"
Yes, I have the version in master but still.

I checked the debugging page. I have Elixir 1.5.0 with Erlang 19, and python 2 & 3:

[code]

However, even if now I can't reproduce, at the beginning (with same installed versions) it was returning `None`.

[code]

See that there is a `1` instead of a `2`. But then, after I have re-run `mix compile`:

[code]

No result :(

[2017-08-03 15:39] slashmili commented on #104
@waiting-for-dev let's continue here :)

[2017-08-04 09:25] waiting-for-dev commented on #104
Yes, it seems more appropriate ;)

[2017-08-09 16:17] corasaurus-hex opened #106 "Improper shell escaping"
Alchemist does improper shell escaping in both [alchemist.vim](https://github.com/slashmili/alchemist.vim/blob/master/after/plugin/alchemist.vim#L20) and  [alchemist.py](https://github.com/slashmili/alchemist.vim/blob/master/alchemist.py#L111-L117). This breaks installs where the alchemist source is hosted in a path that has spaces in it and may have security implications.

The changes to make tho

[2017-08-09 16:22] corasaurus-hex commented on #106
Although there may still be something broken. I didn't dive into the server, it might be breaking on similar things...

[2017-08-09 19:34] corasaurus-hex commented on #106
Yeah, I'm getting an error when using these changes. Something else is wrong...

[2017-08-10 16:12] evnu opened #107 "Jumping to nested module"
Is jumping to definitions in nested modules possible without using a fully-qualified module name? Consider this example:

[code]
When I try to jump (`ctrl-]`) to `Inner.foo`, error `E426` is returned. Is this a bug or am I missing something?

This also applies to opening the documentation of a nested module and its functions (`shift-k`).

Version Information:

* Elixir v1.5
* alchemist.vim c455e53

[2017-08-13 20:42] slashmili commented on #97
@colbydehart turns out `elixir_sense` does all the heavy lifting and it's quite simple. However we can only communicate with the server in erlang binary terms. It would be much easier we we could use Elixir client rather than python client to communicate to the server. I checked the time command execution of a simple elixir vs python script:

[code]

Clearly python is winner for that. I [implement

[2017-08-14 17:37] slashmili commented on #107
@evnu thanks for reporting the issue

I'm working on [elixir-sense](https://github.com/slashmili/alchemist.vim/tree/elixir-sense) which solves lots of problem like this.

I keep the issuer open until that new feature is ready

[2017-08-14 17:37] slashmili commented on #104
@waiting-for-dev thanks for reporting the issue

I'm working on [elixir-sense](https://github.com/slashmili/alchemist.vim/tree/elixir-sense) which solves lots of problem like this.

I keep the issuer open until that new feature is ready

[2017-08-14 17:38] slashmili commented on #101
@exitface thanks for reporting the issue

I'm working on [elixir-sense](https://github.com/slashmili/alchemist.vim/tree/elixir-sense) which solves lots of problem like this.

I keep the issuer open until that new feature is ready

[2017-08-14 18:22] slashmili commented on #73
@kedare /  @omin thanks for reporting the issue

I'm working on [elixir-sense](https://github.com/slashmili/alchemist.vim/tree/elixir-sense) which solves lots of problem like this.

I keep the issuer open until that new feature is ready

[2017-08-14 18:25] slashmili commented on #69
@jaysoifer

FYI I am working on [elixir-sense](https://github.com/slashmili/alchemist.vim/tree/elixir-sense) integration which allows to get more information about micro imported function. it's still beta but you can give it a try :)

[2017-08-14 18:26] #46 closed

[2017-08-14 19:22] waiting-for-dev commented on #104
Hey @slashmili , happy to hear that :) Thanks for your work!

[2017-08-15 03:37] jonathan-soifer commented on #69
Thanks for the heads-up!

I've been assigned to deal with some Frontend issues (Javascript! Yey!) but I think I will have some time to try it out next weekend.

[2017-08-19 05:13] chalmagean opened #109 "Calling ExDoc makes neovim loose the color theme"
Original:
![2017-08-19 at 08 11](https://user-images.githubusercontent.com/8421/29483721-282bc982-84b6-11e7-8d6f-5b7e5907e617.png)

After pressing `K`:
![2017-08-19 at 08 12](https://user-images.githubusercontent.com/8421/29483724-682c2446-84b6-11e7-96ad-4aedbf6a2792.png)

[2017-08-19 08:50] slashmili commented on #109
@chalmagean are you using `AnsiEsc` Plugin?

[2017-08-19 08:53] chalmagean commented on #109
I've tried that, AnsiEsc doesn't change anything.

[2017-08-19 10:09] slashmili commented on #109
My suggestion is not to use `AnsiEsc`. That's why I'm asking :)

I just check my neovim and looks fine. I'm using [elixir-vim ver 7a0f4ec](https://github.com/elixir-editors/vim-elixir/commit/7a0f4ec19b60a1fba5ba4e5c461119d3b63fe996)

[Here](https://github.com/slashmili/alchemist.vim/blob/master/after/plugin/alchemist.vim#L125) is the place that we apply settings for opened buffer(document). Try to

[2017-08-19 10:59] chalmagean commented on #109
Hmm, ok so I actually had AnsiEsc installed. By removing it I now get no color changes but I do get a buffer that looks like this:

![2017-08-19 at 13 59](https://user-images.githubusercontent.com/8421/29486092-9dd17cb0-84e6-11e7-868c-cb2254d90ab3.png)

[2017-08-19 17:05] slashmili commented on #109
@chalmagean try to kill all the `alchemist-server` process and try it again.

First time you use the plugin in a project, it checks if you have `AnsiEsc` installed, and run the server with an option that returns ansi chars. If you kill the process and run it again, it returns the docs in markdown.

[2017-08-20 16:29] chalmagean commented on #109
Oh! You're right. It looks gorgeous now :)

Thanks.

[2017-08-20 16:29] #109 closed

[2017-08-23 16:35] ecly commented on #38
If anyone has actually got it working with neocomplete since this, I'd love to hear. Otherwise I'll take that advice and throw this over to Stackoverflow. Funny that there should be such difference, as the supported deoplete is made by the same guy who made neocomplete.

[2017-08-24 15:54] slashmili commented on #33
@larrylv / @Elinos  can you try [elixir-sense](https://github.com/slashmili/alchemist.vim/tree/elixir-sense) branch?

[2017-08-24 23:23] larrylv commented on #33
@slashmili I just tried, it works for me! Thanks!

[2017-09-04 19:24] slashmili commented on #107
@evnu please try the new version

[2017-09-04 19:24] #107 closed

[2017-09-04 19:25] slashmili commented on #104
@waiting-for-dev please try the new version

[2017-09-04 19:25] slashmili commented on #101
@exitface please try the new version

[2017-09-04 19:25] #101 closed

[2017-09-04 19:25] slashmili commented on #98
@drichardson please try the new version

[2017-09-04 19:25] #98 closed

[2017-09-04 19:26] slashmili commented on #97
Done!

[2017-09-04 19:26] #97 closed

[2017-09-04 19:26] slashmili commented on #86
@nhooyr please try the new version and let me know how is it

[2017-09-04 19:26] #86 closed

[2017-09-04 19:27] slashmili commented on #73
@kedare / @omin please try the new version

[2017-09-04 19:27] #73 closed

[2017-09-04 19:27] slashmili commented on #69
@jaysoifer please try the new version

[2017-09-04 19:27] #69 closed

[2017-09-04 19:27] #1 closed

[2017-09-04 19:27] #29 closed

[2017-09-05 06:40] waiting-for-dev commented on #104
Hey @slashmili , thanks for the updates :)

Now, I'm getting messages like the following when jumping to any tag:

[code]

I'm compiling from within a docker container, in an `/app` directory, but I have in `.vimrc`:

[code]

[2017-09-05 07:10] slashmili commented on #104
@waiting-for-dev did you run `mix compile` before?

I just tried my own docker project and it works 😕

try to follow this steps: https://github.com/slashmili/alchemist.vim/wiki/Debugging

[2017-09-05 07:25] evnu commented on #107
Works like a charm, thank you! Note that I stumbled over the missing Python 3 support. In ArchLinux, Python 3 is the default. I fixed it temporarily by changing the first line in `elixir_sense_client` to `#!/usr/bin/env python2`.

[2017-09-05 07:33] slashmili commented on #107
@evnu thanks for reporting that

I'll try to make it compatible with python3

[2017-09-05 07:34] slashmili opened #110 "compatible with python3"
`erl_terms.py` is not compatible with python3

[code]

[2017-09-05 07:59] evnu commented on #107
I found one related problem when using `alias` and `use` within an umbrella. I will state it here, but I think this might be something which should be reported upstream.

[code]

Now, when I try to jump to `Inner` from `use Inner` in `b/lib/b.ex`, `elixir_sense` reports that `module Inner is not loaded and could not be found`. When this happens, jumping to **any** identifier does not work anymore

[2017-09-05 08:15] slashmili commented on #107
@evnu Yeah it's all elixir_sense, can you open an issue there with the same detail?

[2017-09-05 08:44] evnu commented on #107
Yes, I will open an issue. What is the current version of `elixir_sense` within `alchemist.vim`?

[2017-09-05 10:08] slashmili commented on #107
@evnu it's https://github.com/msaraiva/elixir_sense/tree/747e8e4b69f7f83e6174639c31dcafe6a4091550

[2017-09-05 11:29] evnu commented on #107
See https://github.com/msaraiva/elixir_sense/issues/12 for the upstream issue.

[2017-09-05 14:32] waiting-for-dev commented on #104
Yes

I just tried, with Elixir 1.5.1 and Erlang/OTP 20, and for each example I get the following error message :cry:

[code]

[2017-09-05 15:14] slashmili commented on #104
@waiting-for-dev enable debug mode and send me the log

open [elixir_sense_client](https://github.com/slashmili/alchemist.vim/blob/master/elixir_sense_client#L6) and enable debug mode

[code]

If you are on linux, the logs goes to `syslog`, in Mac it goes to `/tmp/log.log`

[2017-09-05 15:36] waiting-for-dev commented on #104
Hmmm... it's strange... I rerun the instructions about debugging and know I get actual output and not that error... :open_mouth:

Results match with the expected, except for the **Lookup Project's Library** section:

## 1

[code]
Syslog:

[code]

## 2

[code]

Syslog:

[code]

---

Besides, jumping to a tag from vim:

[code]

Syslog:

[code]

---

And pressing `K` to go to the documentation:

[cod

[2017-09-05 22:16] drichardson commented on #98
Works great. Thanks for the fix.

[2017-09-06 17:08] kuwze opened #111 "Syntax highlighting?"
I am not using autocomplete at the moment, but I was just wondering about syntax highlighting. I tried enabling and disabling this plugin but there was no difference in the syntax highlighting. Should I be using another plugin for that?

[2017-09-06 17:17] kuwze commented on #111
It looks like syntax-highlighting is provided by vim-polyglot with the following install:
Plug 'sheerun/vim-polyglot'

[2017-09-06 17:17] #111 closed

[2017-09-06 20:31] slashmili commented on #111
Correct, [check out wiki page](https://github.com/slashmili/alchemist.vim/wiki#dependencies)

[2017-09-06 21:45] ericdouglas commented on #104
I'm having some issues, here is my debugging results:

[code]

`syslog`

[code]

[2017-09-07 07:31] slashmili commented on #110
if someone has python3 as default for the moment make this change locally
[code]

[2017-09-07 07:33] slashmili commented on #104
@ericdouglas your problem is related to #110

If you don't mind I delete your comment here to focus on the main problem

[2017-10-03 15:27] glittershark commented on #110
another python3 error:
[code]

[2017-10-06 22:18] DarthIwan commented on #110
@glittershark I have exact same error

[2017-10-15 10:36] hauleth opened #113 "Add completion support for nvim-completion-manager"
https://github.com/roxma/nvim-completion-manager

I will try to do that by myself, however I have no expertise in Python so it can take some time.

[2017-10-29 19:07] indera commented on #90
After I setup the path
let g:alchemist#elixir_erlang_src = "/usr/local/share/src"
how do I actually jump to the definition?

Entering "gd" when my cursor is over the "GenServer" goes to the first occurrence in the file, but I expected it to go to the implementation file

[2017-10-30 09:46] slashmili commented on #90
@indera  https://github.com/slashmili/alchemist.vim/wiki#jump-to-definition

[2017-10-31 10:46] msaraiva commented on #107
Fixed on v1.0.1!

[2017-10-31 17:45] indera opened #114 "ExDef not consistent with ExDoc"
ExDoc opens a split window - https://github.com/slashmili/alchemist.vim/blob/76fac04c3edc86a7ff9d1b425a8778efcdc97740/after/plugin/alchemist.vim#L200

But ExDef edits a file and the user has to go back and re-open the file
https://github.com/slashmili/alchemist.vim/blob/76fac04c3edc86a7ff9d1b425a8778efcdc97740/after/plugin/alchemist.vim#L247

Am I doing something incorrectly? I expected ExDef to o

[2017-10-31 18:14] slashmili commented on #114
@indera, well you are kinda right. However the idea is you jump to a definition of probably your function and want to edit the code or you might want to go deeper.

When I implemented ExDef I was thinking of a replacement for TAGs.

In TAGs, you can press `<Ctrl>+]` to jump to a definition and use `<Ctrl>+t` to go back to your previous locations

[2017-10-31 18:33] indera commented on #114
Should I close this issue?
I used this workaround:

autocmd FileType elixir nnoremap <buffer> <leader>d :vsplit<CR> :call alchemist#exdef()<CR>

[2017-11-01 11:00] #114 closed

[2017-11-01 11:03] slashmili commented on #106
@nate I've changed Alchemist to ElixirSense, not sure if it fixed the problem thought. we are still using `elixir_erlang_src` option

[2017-11-01 16:09] corasaurus-hex commented on #106
I haven't worked on this lately. I just gave up since I don't know vimscript well enough to figure out what's going on, and couldn't figure out how to test it.

But this is a pretty serious bug. In some rare cases it could lead to very bad things happening....

[2017-11-02 09:13] tdejager opened #116 "Autocompletion problems, both python2 and python3"
If autocomplete/docs or etc doesn't work for you
before creating issue please check Debugging page and make sure your basic setup works

https://github.com/slashmili/alchemist.vim/wiki/Debugging

and answer these questions:

1. Elixir/OTP/Python version

Elixir:

Elixir 1.5.1

OTP:

Erlang/OTP 20

Python:
Python 2 and 3 in system
Python 3 in vim

2. Which pluging are you using:

[ ] basic omnifunc

[2017-11-02 09:22] slashmili commented on #116
@tdejager I'm sorry that it doesn't work out of the box but believe me, the new one is much better 😬

When you run the `elixir_sense_client` command it's using env to find your python executable
[code]
Did you try to use this fix https://github.com/slashmili/alchemist.vim/issues/110#issuecomment-327713724 to force using python2 ?

[2017-11-02 09:32] tdejager commented on #116
Wow, thanks for the prompt reply! :smile:

And yes, the errors seem to be the same, forcing the python2 version. If I do that the errors keep being along the lines of `raise NotImplementedError("Unable to unserialize %r" % binary[0])`.

When running the python3 version it is the known iteritems error.

edit: sorry pressed close issue by accident

[2017-11-02 09:37] slashmili commented on #116
I've been trying to ignore this problem for a long time :( We need to support python3 one way or another

Can you give me the full stack trace with python2 in the header?

[2017-11-02 09:44] tdejager commented on #116
As a check this is the output for the python2 env command

[code]

Running command:

[code]

With patched file:

[code]

Stacktrace:

[code]
Syslog output

[code]

[2017-11-02 09:53] tdejager commented on #116
The binary being returned is somewhere along the lines of, when printing to stdout:

�twerrorwnilwpayloadm]/home/vagrant/2017-08-02_13-04-43/scripts/elixir/deb/elixir_1.5.1-1/lib/elixir/lib/enum.ex:-1w
request_ida

[2017-11-14 00:29] hauleth commented on #51
Why not leave it to user via `:make` (or any other asynchronous part) calls?

[2017-11-14 10:09] slashmili commented on #51
@hauleth the idea was to have list of something like this

![screen shot 2017-11-14 at 11 07 07](https://user-images.githubusercontent.com/585764/32774254-019c1924-c92c-11e7-972a-fc09828c8558.png)

Anyway since it wouldn't work in umbrella project we are going to call it off

[2017-11-14 10:16] hauleth commented on #51
@slashmili that is exactly what `:make` would provide you via quickfix or `:lmake` via location list. The only problem is to have mapping for that. [I have created quick and dirty function for that](https://github.com/hauleth/dotfiles/blob/3057029070295f928baf89d63d402ec4c105b1d2/nvim/autoload/ft/elixir.vim) but they still need some work. [Example usage can be seen there](https://github.com/haulet

[2017-11-14 10:17] hauleth opened #117 "Provide asynchronous features"
This would simplify integration with modern completion frameworks other than deoplete.

[2017-11-14 10:38] slashmili commented on #117
@hauleth how would you suggest to that?

BTW we should support python3 before(related to ticket #110)

[2017-11-14 10:41] hauleth commented on #117
@slashmili for now function that return command to be ran and parser for the elixir_sense output format would be enough. Alternatively this could be done through `job-control` (NeoVim) and `channels` (Vim 8+).

[2017-11-14 11:41] hauleth opened #118 "Use Elixir instead of Python"
What is even the point of using Python instead of Elixir?

[2017-11-14 11:46] slashmili commented on #118
duplicated #10
@hauleth take a look at that issue.

[2017-11-14 11:46] #118 closed

[2017-11-14 11:47] slashmili commented on #118
Oops I point to a wrong issue, take a look at #10

[2017-11-14 11:49] hauleth commented on #10
That is why there should be long running process in the background which will exchange information with Vim/NeoVim via pipes.

Both Vim 8 and NeoVim have support for background jobs which we should leverage for completion.

[2017-11-14 11:51] slashmili commented on #10
Let's start from #117 and see where can we go from there.

[2017-11-14 17:37] bees commented on #110
As a proof of concept: [here's a rough pass at a python3 port.](https://github.com/bees/alchemist.vim/tree/python3) Doctests are all passing (tested with 3.6) and basic completion works - I haven't gotten a chance to test it beyond that. @slashmili if you're interested, I can continue working on this until its in a mergable state (i.e. not breaking python2 backwards compatibility, tests not sensit

[2017-11-14 20:03] slashmili commented on #110
Thanks @bees!

Today I was also working on that, can you review PR #119 and let me know if I should change anything. I like your code better then mine.

[2017-11-15 09:01] slashmili commented on #110
@DarthIwan / @glittershark please fetch the latest and it should work without any patch

[2017-11-15 09:01] #110 closed

[2017-11-15 11:30] slashmili commented on #116
@tdejager are you running the elixir in Vagrant?

If you join #vim-elixir in freenode or #vim in elixir slack we can take a look at your problem together.

[2017-11-15 18:44] slashmili commented on #113
@hauleth take a look at #120
and we can follow up there.

[2017-11-15 18:48] slashmili commented on #117
@hauleth considering adding the autocomplete to asynchronous autocomplete framework is easy as shown in #120, I suppose we don't need this anymore.

let me know if you think otherwise and why do you think so.

[2017-11-15 18:48] #117 closed

[2017-11-15 18:50] slashmili commented on #89
I close this issuer. Let me know if I can help

[2017-11-15 18:50] #89 closed

[2017-11-15 23:44] tdejager commented on #116
No, I am not actually :). And will do that later thanks!

[2017-11-16 21:37] chernyshof opened #121 "Erlang ExDoc"
When I try to `K` on erlang module and it throws error:
[code]
After pressing enter it is shows module's doc as expected.
How can I get rid of this error?

P.S. works fine with elixir modules/functions.

[2017-11-17 09:37] slashmili commented on #121
Looks like that it only happens in neovim. fetch the new changes.

[2017-11-17 09:37] #121 closed

[2017-12-17 02:50] jayceekay opened #123 "MapSet not found"
i don't think this is a real issue so i didn't fill out the issue form, forgive me for that if i'm wrong. alchemist isn't able to find the definition for MapSet when i do `K` over it - did i miss a setup step? i'm guessing it has to do with it not finding the elixir/erlang source code, although it works fine for other modules like Enum.

[2017-12-18 19:10] drichardson commented on #99
I haven't looked at this, and probably won't any time soon since I'm not using elixir at the moment.

[2017-12-20 12:01] slashmili commented on #123
@jayceekay I tried it locally and looks like it's related to `elixir_sense`.

I'll open an issue for this in `elixir_sense`

[2018-01-13 17:49] slashmili opened #124 "Update elixir_sense_client help message"
Help message of `elixir_sense_client` script has not been updated and still shows the wrong options

[2018-01-13 17:58] slashmili opened #125 "Alchemist running in one machine using two users"
When a vim session run Alchemist.vim for a given project, Alchemist.vim creates a directory in
`/tmp/alchemist_server/` and keeps the PID of running ElixirSense for that project there.

The problem is if someone tries to open another session vim using different user, would get error like:
[code]

We can include the current user id or name in the directory, for example:
user1: `/tmp/alchemist_serve

[2018-01-23 18:45] jayceekay commented on #123
was there any followup to this?

[2018-01-24 09:22] tdejager commented on #116
Hi, sorry I never did what I said in the last message. But it seems this problem has been fixed on my system. So I think we can close this issue?

[2018-01-24 09:24] #116 closed

[2018-02-11 20:37] gj opened #127 "YouCompleteMe — No semantic completer exists for filetypes: ['elixir']"
1. Elixir/OTP/Python version
    - Elixir: 1.6.1
    - OTP: 20
    - Python: 3.6.4

2. Which pluging are you using:
    - [ ] basic omnifunc
    - [x] YouCompleteMe
    - [ ] deoplete

3. Which steps of Debugging passed?
    - [x] Elixir Module definition
    - [x] Elixir Function definition
    - [x] Elixir Module/Function docs
    - [ ] Your Project Module definition
    - [ ] Your Project Funct

[2018-02-17 18:33] slashmili commented on #127
@gj sorry for late response.

Do you have your dotfile somewhere I can try it locally?

[2018-02-17 18:53] gj commented on #127
@slashmili no problem at all! Appreciate all of your hard work on this OSS. Here are my dotfiles: https://github.com/gj/.dotfiles

[2018-02-19 14:22] slashmili commented on #127
@gj did you try `mix compile` before running the debugging command? It's written in small note in Debug page

[code]

[2018-02-25 10:06] slashmili opened #128 "Upgrade elixir_sense"
Latest Elixir Sense has some fixes and improvement.

[2018-04-22 07:54] jfrolich commented on #45
Very slow for me as well in quite a big project.

[2018-04-23 07:36] slashmili commented on #45
@jfrolich can you please create new issue and provide the information on new issue form?

This issue is quite old and a lot of thing has changed internally in this plugin.

[2018-04-23 08:09] jfrolich opened #131 "Unusable for large projects"
In a large elixir app there is a blocking lag before suggestions appear (3-5 seconds). It's already a bit noticeable in large elixir projects like Ecto, but there it's still sub-second. The app where this happens is ~ 20k lines of code with a number of large decencies like Ecto.

1. Elixir/OTP/Python version

Elixir: Elixir 1.6.4

OTP: 20

Python: 3.6.5

2. Are you using VIM or Neovim? Please prov

[2018-04-23 08:18] slashmili commented on #131
@jfrolich are you experiencing something like this or slower?

https://asciinema.org/a/bIY124FBntEdBM25I7wPXUw3x

I cloned the ecto project. the first autocomplete was slower because it had to run `elixir_sense` and wait for it to be responsive, the rest was quicker since the server is running.

Also please provide your neovim version

[2018-04-23 08:36] jfrolich commented on #131
No much worse, see below. I have a 2015 macbook pro maxed out. And my neovim version is: NVIM v0.2.2
![2018-04-23 16 34 39](https://user-images.githubusercontent.com/579279/39115484-5abc77ea-4714-11e8-98a4-b6f0be1db1a9.gif)

[2018-04-23 09:46] bitboxer opened #132 "Change paths returend by elixir sense"
Small question: I have an elixir project that uses docker heavily. The files are all mounted inside of a docker container and the build is happening there. That leads to the problem that the build has wrong paths that only work inside of the docker container. Because of that my vim running outside of it does not find the correct files to jump to when using alchemist. Is it possible to configure al

[2018-04-23 09:58] slashmili commented on #132
@bitboxer take a look at this guide https://github.com/slashmili/alchemist.vim/blob/master/doc/alchemist.txt#L55

It's a bit inconvenient because it effects your vim global settings. Checkout #78 there are some suggestion how to use it with vim-localvimrc

[2018-04-23 09:58] #132 closed

[2018-04-23 10:05] bitboxer commented on #132
Thanks! Sorry that I missed that in the docs.

[2018-04-23 10:08] slashmili commented on #132
No worries, it's bit hidden :)

Let me know if it works for you or not. I don't use it often.

[2018-04-23 10:15] bitboxer commented on #132
It now opens the correct file, but sadly it does not jump to the line inside of the file.

[2018-04-23 10:33] slashmili commented on #132
I though you don't like the jump to def in Alchemist.vim 😄

So after we moved to elixir_sense, `elixir_sense` is the one that finds the location of function but I remember it didn't work when loading beam from docker compiled files. I need to take a look at it again.

[2018-04-23 10:58] bitboxer commented on #132
Okay, understood. Really looking forward to the fixed version. Sadly due to my new baby my time is limited and I can't really offer to help, but if this isn't fixed in 2-3 weeks, I might have some time to look into it, too

[2018-04-23 16:07] slashmili commented on #131
May I know if you are using latest version of alchemist.vim?

BTW the screencast that I posted is wrong :D

This is the correct one https://asciinema.org/a/7XtFQVLBLP37yw2XSvuaBd8OV
Still the first `.` after `Ecto` runs `elixir_sense` for the first time so there is some delay and after that that's the usually speed.

FYI when you are using Neovim and deoplete, the deoplete plugin looks up the spec

[2018-04-23 16:30] jfrolich commented on #131
Yes using the latest version. I am pressing `<C-y>` to trigger the autocomplete.

[2018-04-25 02:26] jswny opened #133 "Auto-complete with YouCompleteMe makes backspacing very slow"
# Issue
In a basic Elixir project, enabling YouCompleteMe and Alchemist.vim makes backspacing **slow and clunky**. Backspacing during auto-completion (a lot of the time) is awkward and slow enough that I can't keep YouCompleteMe enabled because of it.

[Screencast of backspacing **without** auto-completion turned on](https://asciinema.org/a/WpRDsEgZge7Z9KAEVUNaG7aqc)

[Screencast **with** auto-com

[2018-04-25 12:29] slashmili commented on #133
@jswny I'm not YouCompleteMe user so it's hard to say why is it work like that.

Do you have your vimrc somewhere? I can give it a try locally.

What I've seen is autocomplete modules usually cache the results but looks like that in your case it's asking `alchemist.vim` to give hint on each change.

I'll try it locally and update you

[2018-04-25 12:30] slashmili commented on #131
@jfrolich do you have your vimrc file somewhere for me to try it locally?

[2018-04-25 14:11] jfrolich commented on #131
I use vimbox (https://github.com/jordwalke/VimBox) so it's pretty huge 😅, with this adaptation:

`.vimrc.custom.after`

[code]
and `bundlesVimRc.custom`

[code]

[2018-04-25 14:52] jswny commented on #133
Thanks! I would try deoplete but it seems like it is geared towards NeoVim, which I'm not using. It is clearly asking for hints on each change, which is preventing me from backspacing until it is done checking. I don't know how these things work of course but it seems like those things should be separate and asynchronous, and that suggestions shouldn't interfere with typing.

Here is my `.vimrc`:

[2018-04-27 04:49] jswny commented on #133
I am now using Deoplete with NeoVim, and it works like a charm! However, this issue still remains, so I will leave it up to @slashmili to decide if he wants to close it or not.

[2018-05-09 20:49] mwdiers opened #134 "Alchemist not finding 3rd-party modules in project"
elixir-sense is unable to find any installed and compiled dependencies, causing Alchemist to break.

If an installed dependency is referenced in a `use` statement, because elixir-sense cannot find it, autocomplete fails to query elixir-sense at all, and Alchemist breaks even for kernel modules.

For example, the following error is displayed as I attempt to type `use Plug.Router`:

[code]

Elixir:

[2018-05-09 21:00] mwdiers commented on #134
Updated description as I researched this further. I am running `nvim` from the root of the project.

I also tested with deoplete, and have the same problem, except that it doesn't error as I am trying type the name of a sub-module, but auto-complete still breaks.

[2018-05-10 04:13] mwdiers commented on #134
I am still trying to track this down, and it is an extremely bizarre problem.

If I have ANY project in this exact path: `~/Devel/elixir/ToDo/` then Alchemist cannot find any dependencies in the project.

I tested this with the simplest possible use case. I removed all other projects from the above directory. I made a new mix project called `apptest` in the above directory. The full project path i

[2018-05-10 14:31] mwdiers commented on #134
Additional troubleshooting steps:

- Uninstalled and cleaned all elixir and erlang versions from Homebrew
- Verified no other elixir/erlang dependencies were installed.
- Reinstalled elixir/erlang
- ran `chown -R xxxx:staff ~/Devel && chmod -R u+rwX ~/Devel`

It's worth noting that my Homebrew prefix is `/opt/homebrew`. I doubt that matters.

[2018-05-12 18:55] kevinkjt2000 opened #135 "Route not found after editing router.ex"
Elixir/OTP:
[code]

Python:
[code]

Neovim:
[code]

My specific setup:
https://github.com/kevinkjt2000/dot-vim

Hi, this is my first issue here, and I would like to say thanks for writing this wonderful plugin!

I am experiencing an issue which has a workaround that I do not like:
https://github.com/phoenixframework/phoenix/issues/1437

When I used regular plain `vi` and edited the `router.ex` fil

[2018-05-12 19:07] kevinkjt2000 commented on #135
More discussion is here https://github.com/phoenixframework/phoenix/issues/1165

[2018-05-12 19:10] kevinkjt2000 commented on #135
Oh!  This is an issue with ALE calling the syntax checker, and not the `mix` support from this plugin as I had first thought.  Temporarily disabling the ALE plugin fixed this for me.  Closing now.

[2018-05-12 19:10] #135 closed

[2018-05-14 07:43] slashmili commented on #134
@mwdiers I also got the same result when I forced autocomplete after typing

[code]

It's something that I guess we need to fix in elixir-sense, to avoid looking the module in this case.

But in meanwhile is there anything we can do here? When you see the error, is the autocomplete  broken until exit and start vim? One possible way is to avoid triggering error in this case ...

[2018-05-16 14:22] mwdiers commented on #134
@slashmili Aside from the bizarre path issue noted above (where no dependency modules can be found at all), autocomplete is only broken if a`use` macro is referring to a module that elixir-sense cannot find.

This is true also while typing the name of the submodule. However, as soon as I finish typing the name (which can be challenging because of the error coming up on every letter) and the `use`

[2018-06-22 12:32] tchoutri opened #137 "Stacktrace when showing documentation and jumping to definition"
1. Elixir/OTP/Python version

Elixir: 1.6.2

OTP: 20.2

Python: 2.7.15

2. Are you using VIM or Neovim? Please provide the version.
NVIM v0.2.2

3. Which plugin are you using:

[ ] basic omnifunc
[ ] YouCompleteMe
[x] deoplete

---

Each time I press `K`, the following stacktrace appears:

[code]

and I don't really understand the cause of it.

[2018-06-25 10:14] slashmili commented on #137
@tchoutri can follow the [debugging](https://github.com/slashmili/alchemist.vim/wiki/Debugging), set debug flag and run these command on the file you have problem>

[code]
make sure to change <col_num>, <line_num> and <file_name>

Then please provide the output of the above command the logs in `/tmp/log.log`

[2018-07-30 05:26] gj commented on #127
Can't reproduce anymore. Thanks!

[2018-08-04 16:08] FredrikAugust opened #138 "Not :ExDoc nor `K` while over keyword works"
1. Elixir/OTP/Python version

Elixir: 1.7.1

OTP: 21

Python: 3.6.6

2. Are you using VIM or Neovim? Please provide the version.

Neovim 0.3.1

3. Which pluging are you using:

[ ] basic omnifunc
[ ] YouCompleteMe
[x] deoplete

4. Which steps of Debugging passed?

[ ] Elixir Module definition

When trying to go to definition of `defmodule` I get the following errror:

[code]

[ ] Elixir Function d

[2018-08-05 12:35] slashmili commented on #138
@FredrikAugust I'll update my OTP and check it out

[2018-08-15 12:10] herambkulkarni1 commented on #34
class StackOverflowUser:
        def __init__(self, name, userid, rep):
            self.name = name
            self.userid = userid
            self.rep = rep

 name = raw_input("Enter name: ")
 userid = int(raw_input("Enter user id: "))
 rep = int(raw_input("Enter rep: "))

 dave = StackOverflowUser(name, userid, rep)

error: raw input is not defined
pls solve this error..........

[2018-08-15 12:12] herambkulkarni1 commented on #34
class User:
        def __init__(self, name, userid, rep):
            self.name = name
            self.userid = userid
            self.rep = rep

 name = raw_input("Enter name: ")
 userid = int(raw_input("Enter user id: "))
 rep = int(raw_input("Enter rep: "))

 dave = User(name, userid, rep)

[2018-08-15 12:13] herambkulkarni1 commented on #34
showing raw_input is not defined
pls solve this error...........................

[2018-08-18 07:11] slashmili commented on #34
@herambkulkarni1 I don't think you are using `alchemist.vim`, it's a plugin for Elixir and your example doesn't look like an Elixir code

[2018-08-24 21:18] egidijusz opened #139 "K shows `Alchemist: No matches for ''!` instead of documentation"
Hello,
doing "K" over any module/function shows "Alchemist: No matches for ''!".
This started happening some time ago (maybe ~2 weeks).

Doing `elixir_sense_client -d./ -c6 -l3 --request=docs < sample.exs` shows "No documentation available".
I've tried this command to get documentation of functions that are in the same project (in case alchemist can't find erlang/elixir source files) - same output

[2018-08-27 05:06] slashmili commented on #139
Hey @egidijusz

I'm in process of updating [elixir_sense](https://github.com/msaraiva/elixir_sense) which solves the problem you have mentioned. I'm hoping that it will be ready by the end of this week

[2018-09-02 14:21] slashmili commented on #139
@egidijusz please update the plugin and give it a try again

[2018-09-02 14:21] slashmili commented on #138
@FredrikAugust please update the plugin and give it a try again

[2018-09-02 14:28] FredrikAugust commented on #138
It works now @slashmili, but when trying to get documentation for something under the cursor that doesn't exist it shows `Alchemist: No matches for ''!`, think that's a bug.

Great work though :))

[2018-09-02 14:29] FredrikAugust commented on #138
And when I try to get documentation for a module I created it only shows the first line of the `moduledoc`. But I suppose that may be another issue.

[2018-09-02 14:34] slashmili commented on #138
hmm strange, works for 😬

Can you run the [debug](https://github.com/slashmili/alchemist.vim/wiki/Debugging) and paste the documentation output for me?

To execute it, create an empty file `sample.exs`, put the your modules in the first line and execute this
[code]

[2018-09-02 14:42] FredrikAugust commented on #138
Going out now, but can try when I get home. 

Sent from my Samsung Galaxy smartphone.
null

[2018-09-02 19:09] FredrikAugust commented on #138
[code]

[2018-09-03 10:38] egidijusz commented on #139
Fixed.

Thank you for your work and this great plugin, you're awesome!

[2018-09-03 10:38] #139 closed

[2018-09-03 12:21] slashmili commented on #138
hmmm, did you compile the project before looking for docs? And not sure what is `%` at the end of output 🤔

[2018-11-09 11:05] ilkka opened #140 "Dependency on syslog python module breaks Windows compatibility"
On Windows Python doesn't have that module but e.g. `elixir_sense.py` depends on it. You might want to either ship a [shim](https://stackoverflow.com/a/27661799/15064) or maybe depend on some library that abstracts it away.

[2018-11-09 11:17] ilkka commented on #140
Ah, actually that's not enough because `elixir_sense.py` also does some manual path building at https://github.com/slashmili/alchemist.vim/blob/35e7e3062d1661b1c081765ed05bd8f0f5265183/elixir_sense.py#L218 which doesn't work on Windows.

[2018-11-09 11:58] ilkka commented on #140
And now that I started drafting a PR to address this, there are even trickier bits like how one branch of `_get_tmp_dir` defaults to `/tmp/alchemist_server'. I guess it would be possible to have win / not-win branches with the win branch using something like `c:\temp\alchemist_server` but it's not pretty. Would it be possible to just use `tempfile.mkdtemp` even though I guess the dir has to be per

[2018-11-10 22:56] slashmili commented on #140
Hi @ilkka, sorry for the late response.

The syslog is only there for debugging purpose, we can disable that module in windows.

Same goes for the `alchemist_server` we can return different value when this is running on windows.

https://docs.python.org/3/library/os.html#os.name

[2018-11-13 00:48] zlfera opened #141 "socket is not available"
**Issue**
I am sorry to bother you. when i use vim , the alchemist did not auto complete and jump to definition. here is the problem "alchemist.vim: failed with message error:Socket is not a
vailable.
E426: tag not found:"

**Details**
Elixir/OTP/Python version
Elixir: 1.7.4
OTP: 21.1
Python: 3.7.1
Vim version.
vim 8.1.0518 (command line)
Which pluging are you using:
basic omnifunc

[2018-11-13 20:31] jschomay opened #142 "K / ExDoc loses last line of documentation"
K/ExDoc shows docs as expected in the preview window, but the docs are missing the last line.

Run `:ExDoc is_tuple` as an example.

The last line of the docs should read "Allowed in guard tests. Inlined by the compiler."  However, for me, that line is missing.  This is true for any term, internal or external.  I am not sure if this is related to some other problem with my set up, or specific to A

[2018-11-14 03:01] slashmili commented on #141
Hey @zlfera,

May I know if you have compiled the project? https://github.com/slashmili/alchemist.vim/wiki#important-notes

If you still have problem please flow the [Debugging](https://github.com/slashmili/alchemist.vim/blob/master/.github/ISSUE_TEMPLATE#L25) steps and send me the outputs

[2018-11-14 03:05] slashmili commented on #142
@jschomay thanks for reporting it!

Looks like that the elixir_sense_client gets the full docs.
[code]

I suppose somewhere in vimscript, the last line gets trimmed. I'll take a look

[2018-11-14 03:06] #128 closed

[2018-11-14 03:08] slashmili commented on #123
@jayceekay I've updated elixir_sense and it's working now. Please update  `alchemist.vim` and try again

[2018-11-14 03:08] #123 closed

[2018-11-14 03:09] slashmili commented on #99
I close this issue for now

[2018-11-14 03:09] #99 closed

[2018-11-14 03:10] slashmili commented on #104
I close this issue for now

[2018-11-14 03:10] #104 closed

[2018-11-14 03:11] slashmili commented on #125
Fixed

[2018-11-14 03:11] #125 closed

[2018-11-14 03:12] slashmili commented on #133
I close this issue for now

[2018-11-14 03:12] #133 closed

[2018-11-14 03:12] slashmili commented on #134
I close this issue for now

[2018-11-14 03:12] #134 closed

[2018-11-14 03:12] slashmili commented on #137
I close this issue for now

[2018-11-14 03:12] #137 closed

[2018-11-14 03:13] slashmili commented on #138
Please update the plugin and try again. I close this issue for now

[2018-11-14 03:13] #138 closed

[2018-11-16 12:35] zlfera commented on #141
Yes, I have compiled project yet. but when I type <C-x><C-o>,  the problem has appeared.
![screenshot_2018-11-16-20-24-39-465_com termux](https://user-images.githubusercontent.com/3070201/48621313-1474a380-e9de-11e8-8673-35bf4e3798bd.png)

[2018-12-07 20:09] MatheusBueno782 commented on #141
hello, same problem here.

[2018-12-19 10:16] slashmili commented on #141
@destne thanks for reporting it.

I can't say anything until you provide the [Debugging](https://github.com/slashmili/alchemist.vim/blob/master/.github/ISSUE_TEMPLATE#L25) output.

[2019-01-17 16:42] rix501 opened #144 "Suggestions dont show up for deoplete"
If autocomplete/docs or etc doesn't work for you
before creating issue please check Debugging page and make sure your basic setup works

https://github.com/slashmili/alchemist.vim/wiki/Debugging

and answer these questions:

1. Elixir/OTP/Python version

Elixir: 1.7

OTP: 20

Python: 3

2. Are you using VIM or Neovim? Please provide the version.
Neovim 0.3.1

3. Which pluging are you using:

[ ] b

[2019-01-20 15:39] slashmili commented on #144
@rix501 I just updated my setup to use nvim `v0.3.4` and the latest deoplete.nvim. It works for me :/

Do you have deoplete.nvim for any other file format? Just want to make sure your deoplete.nvim is working

[2019-01-20 19:56] rix501 commented on #144
I forgot to install a dependency for deoplete. Thanks for checking!

[2019-01-20 19:56] #144 closed

[2019-02-03 23:46] cboggs opened #145 "Feature Request: Let alchemist.vim call elixir_sense's "Referrers" code"
One of the main things I miss from vim-go when working with my Elixir projects is the ability to run a command that will give me a list of references to the item under my cursor. For instance:
* Show me all callers of function `foo/2`
* Show me all uses of variable `bar`
* Show me all references to struct `Baz.Bat`

I'm not positive that all of these are possible via elixir_sense, but it seems the

[2019-02-04 08:43] slashmili commented on #145
When I integrated elixir_sense, it didn't have this functionality. However  I just [checked elixir_sense](https://github.com/msaraiva/elixir_sense/blob/master/test/elixir_sense/references_test.exs) and it does have a way to find references in the code.

How did vim-go show the result? Does it show it in a Quickfix window?

[2019-02-08 17:13] cboggs commented on #145
Sorry for the delay, was out of the loop for a little bit. :-)

`vim-go` gives a Location List window. I can happily share some screenshots if you'd like!

[2019-02-12 12:13] wsdjeg opened #146 "failed to load deoplete source"
If autocomplete/docs or etc doesn't work for you
before creating issue please check Debugging page and make sure your basic setup works

https://github.com/slashmili/alchemist.vim/wiki/Debugging

and answer these questions:

1. Elixir/OTP/Python version

Elixir: None

OTP: None

Python: Python 3.7.1

2. Are you using VIM or Neovim? Please provide the version.

neovim-qt (master branch daily build)

[2019-02-12 12:18] wsdjeg commented on #146
ref links:

https://github.com/cve-search/cve-search/issues/143

https://github.com/soulfx/gmusic-playlist/issues/54

https://github.com/pytest-dev/py/issues/170

https://stackoverflow.com/questions/33074882/importerror-no-module-named-syslog-ansible-edison

[2019-02-13 13:53] slashmili commented on #146
I'd say we can `import syslog` in a try catch

[2019-03-04 11:01] #146 closed

[2019-03-10 09:12] CellPhoneYeah opened #149 "something wrong editing the elixir code with spacevim"
** something wrong editing the elixir code with spacevim using slashmili **
ubuntu18.4, I want to edit the elixir code with spacevim, so I modified the configuration according to the official tutorial, but there was a problem when editing, although I reinstallation ubuntu system and spacevim many times

1.  Elixir/OTP/Python version
Elixir:1.7.3
OTP:20.3
Python:3.6.7
vim8.0

![QQ图片20190310171027](

[2019-03-11 11:06] slashmili commented on #149
Haven't seen this error before. Any idea @wsdjeg ?

[2019-06-11 07:42] slashmili opened #150 "error on looking up for a function that is imported"
1. Elixir/OTP/Python version

Elixir/OTP:
Elixir 1.8.1 (compiled with Erlang/OTP 21)

Python: 3

2. Are you using VIM or Neovim? Please provide the version: NVIM v0.3.4

3. Which pluging are you using:

[ ] basic omnifunc
[ ] YouCompleteMe
[ X ] deoplete

4. Which steps of Debugging passed?

[X ] Elixir Module definition
[X] Elixir Function definition
[X] Elixir Module/Function docs
[X] Your Proje

[2019-06-20 03:25] g4rick opened #151 "Error when work with YouCompleteMe"
When I tap . to trigger YCM (YCM use . to trigger elixir by default). I got this error:
`Omnifunc returned bad value to YCM! 'str' object does not support item assignment`

I use vim-plug.
[code]

1. Elixir/OTP/Python version

Elixir: 1.8.1

OTP: 21

Python: 3.7.3

2. Are you using VIM or Neovim? Please provide the version.
VIM in iterm2  mac
version:  8.1.1350

3. Which pluging are you using:

Yo

[2019-07-04 14:58] #142 closed

[2019-07-08 21:03] kenny-evitt opened #153 "Problems installing with vim-plug for VimR (Neovim) on macOS?"
[Sorry for the extraneous ping. I just wanted to document my experience here in case it's helpful to anyone else (including future me).]

I followed the instructions on the wiki debugging page and all of the test commands worked as expected.

## Questions:

1. Elixir/OTP/Python version

Elixir: 1.8.0

OTP: 21.2.3

Python: `python --version` reports `Python 2.7.16`

2. Are you using VIM or Neovim?

[2019-07-08 21:03] #153 closed

[2019-07-08 21:50] kenny-evitt commented on #141
@slashmili I get this error too, but only intermittently. The output of the debugging commands:

[code]

The output of the test commands seems to be missing a trailing newline; a more nicely formatted version of the above:

[code]

[2019-07-08 22:27] kenny-evitt opened #154 "Change short keys bindings for ExDoc?"
I followed the instructions on the wiki debugging page and all of the test commands worked as expected.

## Questions:

1. Elixir/OTP/Python version

Elixir: 1.8.0

OTP: 21.2.3

Python: `python --version` reports `Python 2.7.16`

2. Are you using VIM or Neovim? Please provide the version.

I'm using VimR 0.20.3 (255) which uses Neovim. The output of the `:version` command:

[code]

3. Which plugin

[2019-07-08 23:13] kenny-evitt commented on #153
The short key bindings were fine. I was using the wrong ones! I neglected to hold <kbd>Shift</kbd> for both.

[2019-07-09 19:32] kenny-evitt opened #155 "ExDoc and ExDef for functions (or modules) in Embedded Elixir files"
Neither the ExDoc or ExDef functions seem to work in Embedded Elixir (*\*.eex*) files. Is it possible to get that working? Any ideas about how this could be done?

[2019-07-09 19:35] kenny-evitt commented on #155
After thinking about this for a few minutes, I realize this is probably not possible as, in general, embedded elixir files require additional 'context' to be properly evaluated and that probably can't generally be inferred, e.g. by ElixirSense.

[2019-07-09 19:35] #155 closed

[2019-07-09 20:20] slashmili commented on #141
@kenny-evitt  so the way that this plugin works, first attempt to use the current socket, if it's not available,  it spawn it again. that's why the next action works.

We could possibly improve it and make it a bit smarter to retry to spawn elixir sense  but haven't fixed it 😕

[2019-07-09 20:22] slashmili commented on #154
Sure! Feel free to update wiki.

Based on your experience does setting `g:alchemist_keyword_map` work?

[2019-07-09 20:50] slashmili commented on #151
Looks like the warning messages are causing the problem 😞

It's [fixed](https://github.com/msaraiva/elixir_sense/blob/master/lib/elixir_sense/core/introspection.ex#L27) in elixir sense! I'll try to update elixir sense and let you know to try it out

[2019-07-10 14:31] kenny-evitt commented on #141
@slashmili I figured as much. I just wanted to let you know that someone else ran into this and that it wasn't because ElixirSense or the ElixirSense client wasn't working (which I imagine the debugging output confirms). And I was also, implicitly, offering to test any suggestions you might have, e.g. to further investigate this.

If you can, and want, any hints at where in the code to look to pot

[2019-07-10 15:04] kenny-evitt commented on #154
@slashmili I was wrong about the short key binding not working. I was just getting an error because I hadn't previously installed the syntax highlighting plugin too. Or maybe it wasn't working initially because of some other reason I missed.

(I thought the ExDef binding wasn't working but that's because I was missing the <kbd>Shift</kbd>, i.e. effectively trying <kbd>Ctrl</kbd>+<kbd>]</kbd> – wai

[2019-07-10 20:04] slashmili commented on #154
Yeah the default keybinding for *capital k* is to lookup for docs! e.g. If you open any file(not elixir) and for example write `ls` and press <kbd>K</kbd> in normal, it open man page of `ls`

regarding **ExDef** key binding, it's strange. I suggest you to try map something that you know that it works to <kbd>Ctrl</kbd> + <kbd>]</kbd> and see if the binding works or not. It works for me 😢

Regardin

[2019-07-10 20:16] slashmili commented on #141
1. One approach is to retry the given command if `system` function returns non-zero

https://github.com/slashmili/alchemist.vim/blob/5575fc8e18695b050b1c4d51623ae37f12ff7648/after/plugin/alchemist.vim#L11-L27

2. The other approach is to improve the [python client](https://github.com/slashmili/alchemist.vim/blob/5575fc8e18695b050b1c4d51623ae37f12ff7648/elixir_sense_client) to try to spawn the serv

[2019-07-10 21:26] kenny-evitt commented on #154
@slashmili Something's definitely wonky with my setup, or so I'm guessing. <kbd>K</kbd> stopped working for me, to run the ExDoc command, but <kbd>Shift</kbd>+<kbd>F2</kbd> *started* working for me, and this is a bit after I'd removed the 'keyword map' command from vimrc file (and re-sourced it).

I'm also getting this error when I try it, but only intermittently:

[code]

`man.vim` is referring t

[2019-07-11 14:25] kenny-evitt commented on #141
@slashmili If I've enabled debug mode in the ElixirSense client file, I should be able to see errors about this in the log file, right?

[2019-07-11 19:08] slashmili commented on #141
Yes, the log file is in `/tmp/log.log` though! make sure to change it somewhere more permanent and appropriate

[2019-07-11 19:12] slashmili commented on #154
This also happens to me if I press <kbd>K</kbd> in a random file. So this is expected 👍

<img width="859" alt="Screenshot 2019-07-11 at 21 10 36" src="https://user-images.githubusercontent.com/585764/61078193-66ac7e00-a420-11e9-9ed9-29f5eb586e4a.png">

It means that the rebinding worked and now Alchemist `ExDoc` binding has changed to something else

[2019-07-11 19:46] kenny-evitt commented on #154
@slashmili Yeah, I figured *man.vim* was running `man`, but I was seeing that with an Elixir file open and then, after trying the same command again shortly thereafter, without changing my vimrc or anything else, I'd get the Alchemist ExDoc output in a new window as expected.

I'm not sure what could be causing my bindings to change like this. I suspect it might be the way VimR wraps Neovim or may

[2019-07-15 08:26] sarevok-anchev opened #156 "ExDoc shortcut fails when non-ascii characters present in source file"
If autocomplete/docs or etc doesn't work for you
before creating issue please check Debugging page and make sure your basic setup works

https://github.com/slashmili/alchemist.vim/wiki/Debugging

and answer these questions:

1. Elixir/OTP/Python version

Erlang/OTP 21 [erts-10.3.5.3] [source] [64-bit] [smp:2:2] [ds:2:2:10] [async-threads:1] [hipe]

Elixir 1.9.0 (compiled with Erlang/OTP 21)
Python

[2019-07-15 09:11] slashmili commented on #141
@kenny-evitt one possible solution is
[code]

[2019-08-07 18:16] kenny-evitt opened #158 "ExDoc is wrong arity for function called in 'pipeline'"
## Questions:

1. Elixir/OTP/Python version

Elixir: 1.8.0

OTP: 21.2.3

Python: `python --version` reports `Python 2.7.16`

2. Are you using VIM or Neovim? Please provide the version.

I'm using VimR 0.27.5 (327) which uses Neovim. The output of the `:version` command:

[code]

3. Which pluging are you using:

 - [ ] basic omnifunc
 - [ ] YouCompleteMe
 - [ ] deoplete

4. Which steps of Debugging

[2019-08-07 18:50] slashmili commented on #158
@kenny-evitt Yes it's coming from`ElixirSense`

[2019-08-08 16:25] kenny-evitt commented on #158
I opened an issue for this in the ElixirSense GitHub project. [See the link above automatically added by GitHub.]

[2019-10-06 18:15] freevova opened #159 "Python error"
When I try to use any of the functionality of the plugin, such as jump to definition, I get this python traceback at the very beginning:
[code]
This is inside Phoenix Project.
I'm using Arch Linux.

1. Elixir/OTP/Python version

Elixir: 1.8.1

OTP: 21

Python: 3.7:4

2. Are you using VIM or Neovim? Please provide the version.
neovim v. 0.4.2
neovim-qt 0.2.14-1

3. Which pluging are you using:

[ ]

[2019-10-08 08:23] slashmili commented on #159
Looks like `elixir` is not in `neovim-qt` $PATH.
You can conform it by running this in vim's command mode:
[code]

If this is the case, you can either fix the paths in $PATH(not sure how it works in `neovim-qt`) or `ls` elixir binary in one of your current $PATH

[2019-10-17 23:25] kenny-evitt commented on #145
@slashmili Either a QuickFix or a location list would be fine, I think. Can location lists reference other files?

[2019-10-17 23:55] kenny-evitt commented on #156
The 'definition' commands fail for this too.

My (last error), for a 'show docs' command:

[code]

[2019-10-18 12:22] slashmili commented on #156
@kenny-evitt could what kind of character is in your docs? Does it happen only for one specific function or all functions?

[2019-10-18 12:30] slashmili commented on #145
Thanks,

I played around with `references` but was not able to use it effectively. I saw there is some updates in elixir_sense upstream, I'll try it out again.

[2019-10-18 15:15] kenny-evitt commented on #156
@slashmili In my case it was either a `•` (bullet) or `·` (middle dot) character.

The error happened for all the functions – I think. I could only see the first line of what I'm guessing was the same error output for the 'definition' function.

[2019-11-06 08:53] slashmili commented on #159
I close this thread du to inactivity, feel free to reopen it when you gather more information about your PATH environment value

[2019-11-06 08:53] #159 closed

[2019-11-06 09:01] slashmili commented on #145
I experimented with `references` feature of ElixirSense

ElixirSense uses [Mix Tasks](https://github.com/elixir-lsp/elixir_sense/blob/master/lib/elixir_sense/providers/references.ex#L106), which works when you run ElixirSense using `mix`([I still need to figure out how](https://github.com/elixir-lsp/elixir_sense/pull/52#issuecomment-550211287)) but in this project we are starting the server using

[2019-11-17 09:17] robsonpeixoto commented on #156
@slashmili the easier way to replicate this issue is reading the `Strings` documentation.  Try the `String.downcase` doc.

[2019-11-20 08:34] slashmili commented on #156
Thanks @robsonpeixoto !

I created a PR, I'll try it today and if it doesn't break other commands, I'll merge it tonight

[2019-11-27 14:40] #156 closed

[2019-11-27 14:41] slashmili commented on #156
The fix is pushed!

[2019-12-06 02:50] dylan-chong commented on #141
In addition, think that the tag fallback is not working properly. If I have my cursor on the method of the following `A.B.method` then I will get an error saying tag not found `A.B.method`. Without alchemist, the tag is found by searching only `method` although we may jump to the method of the same name in the wrong module.

The behaviour of alchemist makes sense, in a sense, because different mod

[2019-12-06 15:43] kenny-evitt commented on #141
@dylan-chong I get the 'tag not found' error/message sometimes but *usually* retrying works.

[2019-12-06 20:02] dylan-chong commented on #141
Hmm not for me. Maybe your retrying avoids the tag fallback by succeeding at elixir sense?

[2019-12-09 00:35] dylan-chong commented on #141
The tag not found bug seems to happen even when a module is not prefixed (in the case of jumping to the definition of an alias). I get the error E426 tag not found. Using the shortcut `g<c-]>` which is not overridden by alchemist, Vim can jump to the definition successfully

[2019-12-12 11:25] Tmw opened #164 "When trying to jump to a function definition: Error: "E484: Can't open file: b' ...""
## The issue
When hovering over a function / module name in vim (nvim) and pressing `CTRL + ]` to jump to its definition; vim displays an error with the following message:

[code]

which; makes sense since the _path_ is misformed by having a `b'` as a prefix. The file `lib/custom_module.ex` is correct. Reproduced it in the debugging setup as described in the Wiki.

### 1. Elixir/OTP/Python version

[2020-01-03 16:44] kenny-evitt commented on #156
@slashmili I'm still getting this error for files with a `·` character in them:

[code]

[2020-01-06 22:18] edborsa commented on #164
Having the same issue here.

[2020-01-10 14:02] slashmili commented on #164
Hey! Sorry for the late response. Looks like is related to python2 vs python3
[code]

I'll try to comp up with a fix

[2020-01-10 14:17] slashmili commented on #164
It's fixed in https://github.com/slashmili/alchemist.vim/commit/a5158d2e731afe3bca25a6a76eb706ff34e155b0

[2020-01-10 14:17] #164 closed

[2020-01-10 14:17] slashmili commented on #158
Thanks, I close the ticket here for now

[2020-01-10 14:17] #158 closed

[2020-01-10 14:18] slashmili commented on #154
I close the issue for now, let me know if I can help further

[2020-01-10 14:18] #154 closed

[2020-03-04 06:59] rmad17 opened #165 "Autocomplete imports already written module"
If autocomplete/docs or etc doesn't work for you
before creating issue please check Debugging page and make sure your basic setup works

https://github.com/slashmili/alchemist.vim/wiki/Debugging

and answer these questions:

1. Elixir/OTP/Python version

Elixir: 1.10.2 (compiled with Erlang/OTP 21)

OTP: 21

Python: 2.7( I have python3 in my system but its not the default python version)

2. Are y

[2020-03-04 10:12] NickNeck commented on #165
I have the same problem. This seems to happen when you take the proposed text from the `source` `around`. As a workaround, you can disable the `source`. I am not sure if this behavior comes up with the `source` `buffer` too.

Config to ignore sources:
[code]

[2020-03-04 18:23] rmad17 commented on #165
@NickNeck Now the error has reduced in frequency but it still exisits. Also `buffer` does not help.

[2020-03-04 21:09] NickNeck commented on #165
Yeah, that doesn't fix the problem it just reduces the pain. Hopefully, @slashmili  can say a little bit more about this problem. @rmad17  have you asked in the elixir forum if someone else has this problem?

[2020-03-23 16:34] joaquinalcerro commented on #141
+1
I get both errors:
- Socket is not available
- Tag not found

.... but if I try again immediately it works fine.

**Details**
elixir 1.7.4
erlang 20.3.8.9
Python: 3.6.10
NVIM v0.3.7

[2020-04-07 10:35] Thecollectivecode commented on #34
have you solved your error???
if not then,
sir i am thinking you are using python 3.5 or something, here you have to use only input instead of raw_input, thats it...

[2020-04-08 11:15] slashmili commented on #165
Hi!

Sorry for the late respond, I tried it locally an it looks ok(as usual 😉 )
https://asciinema.org/a/zHREnYcDur7ejdJHXif7oaJWr

Can you show me how do you get into the situation with `IO.IO.inspects` ?

I also think texts in buffer are causing the issue. if I can reproduce it, I'll see if I can somehow skip putting prefix for `buffers`. Also not sure why buffers are passed to Alchemist ...

On

[2020-04-09 13:36] NickNeck commented on #165
Hello @slashmili
here is a little asciicast to show the problem: https://asciinema.org/a/FYGuCyVfrfa4kmkBTWYrZxV9D

[2020-04-15 10:52] balena commented on #165
I was having exactly the same problem and it gone away after migrating to `asyncomplete.vim`. Other problems came, though, as now I don't get completion for the current file, like, I don't get local variable names, functions, etc. But at least the annoyance described here doesn't happen anymore.

[2020-04-16 09:25] slashmili commented on #165
Ok maybe `asyncomplete.vim` is not for everyone. I'm also new to it! (for buffer you need [asyncomplete-buffer.vim](https://github.com/prabirshrestha/asyncomplete-buffer.vim))

So it looks like for some reason when `deoplete` offers auto-complete based on [around](https://github.com/Shougo/deoplete.nvim/blob/master/doc/deoplete.txt#L590) source, it decides to put extra `IO.`

I would expect that s

[2020-04-19 12:53] jvdvleuten opened #166 "definition_not_found% for local definition in small project (wrong working directory?)"
I used the debugging mode and also checked the log file, please see below. I had a simple Mix project defined with:

[code]

Local definitions did not work unfortunately when looking up a definition in the pre-created test file. On a bigger project with Phoenix, local definitions did work. Maybe I am missing something crucial in the directory setup of a smaller project?

When looking up a definiti

[2020-04-19 14:27] jvdvleuten commented on #166
I did edit the `elixir_sense.py` file and commented out the following lines:

[code]

Which fixes my issue. I can't seem to grasp what it is trying to do with the log_tmp and zS2 variables. However, it now correctly finds the mix.exs file, even in my small project and in debugging mode which fixes the issue.

Great plugin! Works like a charm again. :) I obviously have a wrong configuration or dire

[2020-04-21 08:56] slashmili commented on #166
Hi @jvdvleuten,

I'm glad that you'r enjoying it while puts you in troubles!

[elixir_sense](https://github.com/elixir-lsp/elixir_sense) server runs separate as the vim instance. When alchemist.vim wants to send the request to elixir_sense server, it needs to check if there is a server already running for your project and if it's running, what is the socket file it needs to use to talk to the serv

[2020-04-21 10:29] jvdvleuten commented on #166
Thanks for the reply!

Fairly new to vim, elixir and all that stuff. So lots of figuring out and maybe part of the journey...

I did check my processes after going to definitions for a while and looking up documentation in VIM, and this does increase the number of erlang processes. Which is strange.. I tried both the activity monitor (Mac) and ps in terminal. On the first try it fails with socket

[2020-04-28 09:50] viastakhov opened #168 "Autocomplete not works on Windows"
Autocomplete not works on Windows, but there is no problem when I use same .vimrc file on Debian 10.

1. Elixir/OTP/Python version
Elixir: Elixir 1.10.2
OTP: Erlang/OTP 21 [erts-10.3] [64-bit]
Python: Python 3.8.2

2. VIM: vim for Windows, ver: 8.2.0628

3. Which pluging are you using:
[X] basic omnifunc
[  ] YouCompleteMe
[  ] deoplete

4. Which steps of Debugging passed?
Debuggins steps was skip

[2020-05-03 02:35] minhajuddin opened #169 "Doesn't work on Ubuntu 20.04"
Doesn't work on Ubuntu 20.04 because of the `#!/usr/bin/env python` in `elixir_sense_client`, A workaround for this is installing the `python-is-python3` by running `sudo apt-get install python-is-python3`. There should be a better way to do it though.

[2020-05-04 12:42] slashmili commented on #168
Hi @viastakhov,

I'd assume there is something wrong with the directories or the executing path([e.g](https://github.com/slashmili/alchemist.vim/blob/master/elixir_sense_client#L1)).

I don't have any Windows to debug it :(. I'll keep this issue open in case someone would like to work on this project and make it work in Windows

[2020-05-04 12:44] slashmili commented on #169
Hi @minhajuddin ,

Hmm `#!/usr/bin/env python` is the standard way of executing python scripts. What goes wrong when you execute the `elixir_sense_client` ?

[2020-05-04 12:52] slashmili commented on #166
I followed these steps
[code]

and I only see `/var/folders/h8/..../T/alchemist_server/zS2privatezS2tmpzS2my_project` in my temp directory.

They way that this scripts lookup the mix_dir is by
https://github.com/slashmili/alchemist.vim/blob/master/elixir_sense.py#L437-L452

Looks up at your current directory, if there is a `mix.exs` this is the root of your project otherwise goes one directory up

[2020-05-04 14:20] minhajuddin commented on #169
You are right, Ubuntu 20.04 has executables called `python2` and `python3`, that is why it fails, and installing the `python-is-python3` creates a symlink called `python` which links to `python3`. I guess the fix for this would need to intelligently find the python3 executable and test this against python3 as python2 has reached the end of life.

[2020-05-04 20:34] viastakhov commented on #168
There are several problems:
- Directories/path are not correct for Windows;
- There is unix socks being used rather than tcpip for communicating with Elixir Sense server.
   On my Windows machine unix socks not work.
I tried to fix these issues but no success - autocompletion worked but erl.exe (Elixir Sense) process comsumed a lot of memory with memory leakage~ + 10 MB/sec even if I close vim app

[2020-05-05 09:08] slashmili commented on #169
That's strange! the idea with `#!/usr/bin/env python` that it picks up the python that you preferred as the default in your environment. Now they are making it explicit!

Anyway It's not possible do the python search in the top of the file since it's read and executed by [execve](http://man7.org/linux/man-pages/man2/execve.2.html) and not handled by the script

I suppose the way to go is either cr

[2020-05-05 09:14] slashmili commented on #168
That's an easy fix!

Elixir Sense does support tcpip and supporting it would be simple but time consuming

The background process stops after [600 seconds ](https://github.com/slashmili/alchemist.vim/blob/master/elixir_sense/lib/self_destruct_timer.ex#L4)

Sweet!

BTW I'd also recommend to take a look at https://github.com/elixir-lsp/elixir-ls. Setting up vim-lsp module is an alternative approach.

[2020-05-05 14:25] minhajuddin commented on #169
Thanks, that makes sense. By the way, is elixir_sense supposed to work with Python3 or Python2?

[2020-05-05 18:49] slashmili commented on #169
@minhajuddin [ElixirSense](https://github.com/elixir-lsp/elixir_sense) is purely in Elixir. `alchemist.vim` is the one which has python codes as [client](https://github.com/slashmili/alchemist.vim/blob/master/elixir_sense_client) to talk to ElixirSense server

[2020-05-05 18:49] #169 closed

[2020-05-05 18:49] slashmili commented on #169
I'll close this issue. feel free to open it again if you there are some solutions.

[2020-05-06 20:13] jvdvleuten commented on #166
That's what I thought it was doing, but somehow it called my root git folder. Anyway, I reset my computer, the alchemist_server TMPDIR was cleared and now everything is working correctly. I think my ~/git/ folder ended up in the TMPDIR, which was being used (catched earlier) than my project folder. Strange.. I must have messed something up while figuring vim out. Did not run in any other issues ag

[2020-05-06 20:13] #166 closed

[2020-08-24 09:14] kanes115 commented on #145
Any update on this?

[2021-01-01 01:04] sic-f commented on #141
Yeah same here, I get the error the first time, but if I try again it works.

NVIM 0.4.3
Erlang 23
Elixir 1.11.2

[2021-03-02 20:12] curtisault opened #170 "Can we change this to '<C-[>'?"
https://github.com/slashmili/alchemist.vim/blob/3d370d163a48bdeccea4be541686cce67a52b996/after/ftplugin/elixir.vim#L32

I have to manually change this every time I setup and I have no idea why it's set to the uppercase T character when there is no existing keybinding for '<C-[>' that I'm aware of.